{% if page == 'product-detail' %}
  {% set itemsTotal = '9' %}
  {% set priceTotal = '54.00' %}
  {% set ctaButton = 'Continue' %}

{% elseif page == 'checkout' %}
  {% set itemsTotal = '55' %}
  {% set priceTotal = '484.87' %}
  {% set ctaButton = 'Place Order' %}

{% else %}
  {% set ctaButton = 'Continue' %}
{% endif %}

<!-- DRAWER -->
<div  id="drawer-order-summary" class="drawer drawer-fixed-bottom">

  <!-- DRAWER NAV BAR -->
  <section class="navbar navbar-default hidden-md hidden-lg">
    <div class="container pt-4">

      <!-- DRAWER SUMMARY -->
      <div class="pull-left">
        <a href="#drawer-order-summary" data-toggle="drawer" class="btn btn-default btn-xs">
          <span class="glyphicon glyphicon-chevron-up"></span> Your order
        </a>
      </div>
      <div class="pull-right">
        <b>${{ priceTotal }}</b> <small>{{ itemsTotal }} items</small>
      </div>
    </div>
  </section>

  <!-- DRAWER CONTENT -->
  <section class="order-summary">

    <!-- TITLE -->
    <h3>Order Summary</h3>

    <!-- ITEMIZED -->
    <ul class="list-group">

{% if page == 'product-detail' %}
      <!-- ITEMIZED - BY PERSON -->
      <li class="list-group-item">
        <dl class="mb-0">
          <dt>
            <a href="#collapse-aside-1" data-toggle="collapse" class="collapsed"><span class="glyphicon glyphicon-play collapse-indicator"></span>  Person 1 (8 items)</a>
            <div class="collapse" id="collapse-aside-1">
              Product title - it might be kinda long, man! x 8
            </div>
          </dt>
          <dd>$80.00</dd>
          <dt>
            <a href="#collapse-aside-2" data-toggle="collapse" class="collapsed"><span class="glyphicon glyphicon-play collapse-indicator"></span>  Person 2 (1 items)</a>
            <div class="collapse" id="collapse-aside-2">
              Product title - it might be kinda long, man! x 1
            </div>
          </dt>
          <dd>$10.00</dd>
        </dl>
      </li>
{% endif %}

{% if page == 'checkout' %}
      <!-- ITEMIZED - BY CHARGES -->
      <li class="list-group-item">
        <dl class="mb-0">
          <dt>{{ itemsTotal }} Items:</dt>
          <dd>$460.00</dd>
          <dt>Shipping &amp; Handling:</dt>
          <dd>$5.95</dd>
          <dt>Taxes</dt>
          <dd>$18.92</dd>
        </dl>
      </li>
{% endif %}

{% if page == 'product-detail' %}
      <!-- SUBTOTAL -->
      <li class="list-group-item">
        <dl class="mb-0">
          <dt>Discount</dt>
          <dd>-$36.00</dd>
          <dt>Order subtotal</dt>
          <dd><b>${{ priceTotal }}</b></dd>
        </dl>
      </li>
{% endif %}

{% if page == 'checkout' %}
      <!-- TOTAL -->
      <li class="list-group-item mb-0">
        <dl class="mb-0">
          <dt>Order Total</dt>
          <dd><b>${{ priceTotal }}</b></dd>
        </dl>
      </li>
{% endif %}

      <!-- DISCOUNT OFFER -->
      <li class="list-group-item"><a href="#">Order $35 more for 5% discount!</a></li>

      <!-- DISCOUNT CTA-->
      <li class="list-group-item"><a href=""><span class="glyphicon glyphicon-plus-sign"></span> Add extras</a></li>
    </ul>

    <!-- CTA -->
    <p><button type="button" class="btn btn-primary btn-lg">{{ctaButton}}</button></p>


{% if page == 'checkout' %}
    <!-- PROMO CODE-->
    <div class="mt-5">
      <div class="form-group">
       {% include components.groups.forms.inputAndLabel with {'mainLabel': 'Enter Promo Code', 'id': 'exampleInput1'} %}
      </div>
      <button type="button" class="btn btn-default">Apply</button>
    </div>
{% endif %}



  </section>
</div><!-- /.drawer -->