{% if autoReplenish != null %}
  {% set autoReplenish = '<span>Auto-replenish</span>' %}
  {% set eachShipment = '<br> <small class="text-muted">Each shipment</small>' %}
{% endif %}


<tr>
  <td>
     <img src="{{ img }}" class="img-responsive" alt="">
  </td>
  <td>
    <div>
      {{ productName }}
      <small class="text-muted ml-2">{{ sku }}</small>
    </div>
    <div>
      <span class="label label-default label-sm">{{ autoReplenish }}</span>
      <span class="d-inline-block">{% include components.elements.forms.select with { 'items': [{'label': 'Every 4 weeks'}, {'label': 'Every 3 weeks'}, {'label': 'Every 2 weeks'}, {'label': 'Every 1 weeks'}] } %}</span>
    </div>
  </td>
  <td>
     {{ price }}
     {{ eachShipment }}
  </td>
  <td class="text-right">
     {% include components.elements.forms.select %}
     <div class="mt-4"><a href="#">Remove</a></div>
  </td>
</tr>