{% if autoReplenish != null %}
  {% set eachShipment = '<br> <small class="text-muted">Each shipment</small>' %}
{% endif %}
<tr>
  <td class="t-item hidden-xs hidden-sm">
     <img src="{{ img }}" class="img-responsive" alt="">
  </td>
  <td class="t-desc">
    <div>
      {{ productName }}
      <small class="text-muted ml-2">{{ sku }}</small>
    </div>
    {% if autoReplenish != null %}
      <div>
        <span class="label label-default label-sm">Auto-replenish</span>
        <span class="hidden-xs hidden-sm">{% include components.elements.forms.select with { groupClasses: 'd-inline-block', 'items': [{'label': 'Every 4 weeks'}, {'label': 'Every 3 weeks'}, {'label': 'Every 2 weeks'}, {'label': 'Every 1 weeks'}] } %}</span>
      </div>
    {% endif %}
  </td>
  <td class="t-price">
     {{ price }}
     <span class="hidden-xs hidden-sm">{{ eachShipment }}</span>
  </td>
  <td class="t-qty text-right">
    <span class="hidden-xs">{% include components.elements.forms.select %}</span>
    <small class="visible-xs">1 unit</small>
    <div class="mt-4 hidden-xs hidden-sm"><a href="#">Remove</a></div>
  </td>
</tr>