<div class="mt-3 table-responsive {{ classes }} {% if hidden %} hidden {% endif %}">
  <table class="table table-bordered-outside-only">
    <thead>
      <tr>
        <th class="t-customers">Customers</th>
        <th class="t-desc">Description</th>
        <th class="t-qty">Qty</th>
        <th class="t-purchase">Purchase Date</th>
        <th class="t-follow">Follow Up</th>
        <th class="t-call">Call Customer</th>
        <th class="t-email">Send Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="t-customers">Tisha Denise Pennington {{ index }}</td>
        <td class="t-desc">Anew Cream</td>
        <td class="t-qty">2</td>
        <td class="t-purchase">08/02/2017</td>
        <td class="t-follow">4 Days</td>
        <td class="t-call">817-308-2007</td>
        <td class="t-email">jonesa@gmail.com</td>
      </tr>
      <tr>
        <td class="t-customers">Ana Jones {{ index }}</td>
        <td class="t-desc">Anew Ultimate Night Cream For The Ultimate Facial Experience When Your Skin be on that Dry</td>
        <td class="t-qty">4</td>
        <td class="t-purchase">08/02/2017</td>
        <td class="t-follow">4 Days</td>
        <td class="t-call">817-308-2007</td>
        <td class="t-email">Update Email Address</td>
      </tr>
      <tr>
        <td class="t-customers">Olivia Washington Carver {{ index }}</td>
        <td class="t-desc">Creamy Cream</td>
        <td class="t-qty">3</td>
        <td class="t-purchase">08/02/2017</td>
        <td class="t-follow">4 Days</td>
        <td class="t-call">817-308-2007</td>
        <td class="t-email">jonesa@gmail.com</td>
      </tr>
      <tr>
        <td class="t-customers">{{ fpo.person.2 }} {{ index }}</td>
        <td class="t-desc">Mmm Cream</td>
        <td class="t-qty">2</td>
        <td class="t-purchase">08/02/2017</td>
        <td class="t-follow">4 Days</td>
        <td class="t-call">817-308-2007</td>
        <td class="t-email">jonesa@gmail.com</td>
      </tr>
      <tr>
        <td class="t-customers">{{ fpo.person.3 }} {{ index }}</td>
        <td class="t-desc">Anew Ultimate Night Cream</td>
        <td class="t-qty">1</td>
        <td class="t-purchase">08/02/2017</td>
        <td class="t-follow">4 Days</td>
        <td class="t-call">817-308-2007</td>
        <td class="t-email">jonesa@gmail.com</td>
      </tr>
      <tr>
        <td class="t-customers">{{ fpo.person.4 }} {{ index }}</td>
        <td class="t-desc">Anew Ultimate Night Cream</td>
        <td class="t-qty">2</td>
        <td class="t-purchase">08/02/2017</td>
        <td class="t-follow">4 Days</td>
        <td class="t-call">817-308-2007</td>
        <td class="t-email">jonesa@gmail.com</td>
      </tr>
      <tr>
        <td class="t-customers">{{ fpo.person.5 }} {{ index }}</td>
        <td class="t-desc">Anew Ultimate Night Cream</td>
        <td class="t-qty">2</td>
        <td class="t-purchase">08/02/2017</td>
        <td class="t-follow">4 Days</td>
        <td class="t-call">817-308-2007</td>
        <td class="t-email">jonesa@gmail.com</td>
      </tr>
    </tbody>
  </table>

  <p class="m-0">Showing 7 out of 38 Items</p>

</div>
