<div class="table-responsive {{ classes }} {% if hidden %} hidden {% endif %}">
  <table class="table table-striped table-bordered-outside-only">
    <thead>
      <tr>
        <th class="t-customer">Customer Name</th>
        <th class="t-camp-num">Camp #</th>
        <th class="t-conf-num">Confirmation Number</th>
        <th class="t-date">Date</th>
        <th class="t-total">Total Earnings</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="t-customer">Elise Marsh {{ index }}</td>
        <td class="t-camp-num">09</td>
        <td class="t-conf-num">
          <a href="javascript:void(0)" class="underline" data-toggle="modal" data-target="#invoice-modal">AVR0135671236</a>
        </td>
        <td class="t-date">08/02/2017</td>
        <td class="t-total text-center">$8.50</td>
      </tr>
      <tr>
        <td class="t-customer">Elizabeth McMasterson {{ index }}</td>
        <td class="t-camp-num">09</td>
        <td class="t-conf-num">
          <a href="javascript:void(0)" class="underline" data-toggle="modal" data-target="#invoice-modal">AVR0135671236</a>
        </td>
        <td class="t-date">08/02/2017</td>
        <td class="t-total text-center">$8.50</td>
      </tr>
      <tr>
        <td class="t-customer">Ed Wu {{ index }}</td>
        <td class="t-camp-num">09</td>
        <td class="t-conf-num">
          <a href="javascript:void(0)" class="underline" data-toggle="modal" data-target="#invoice-modal">AVR0135671236</a>
        </td>
        <td class="t-date">08/02/2017</td>
        <td class="t-total text-center">$8.50</td>
      </tr>
      <tr>
        <td class="t-customer">{{ fpo.person.2 }} {{ index }}</td>
        <td class="t-camp-num">09</td>
        <td class="t-conf-num">
          <a href="javascript:void(0)" class="underline" data-toggle="modal" data-target="#invoice-modal">AVR0135671236</a>
        </td>
        <td class="t-date">08/02/2017</td>
        <td class="t-total text-center">$8.50</td>
      </tr>
      <tr>
        <td class="t-customer">{{ fpo.person.3 }} {{ index }}</td>
        <td class="t-camp-num">09</td>
        <td class="t-conf-num">
          <a href="javascript:void(0)" class="underline" data-toggle="modal" data-target="#invoice-modal">AVR0135671236</a>
        </td>
        <td class="t-date">08/02/2017</td>
        <td class="t-total text-center">$8.50</td>
      </tr>
      <tr>
        <td class="t-customer">{{ fpo.person.4 }} {{ index }}</td>
        <td class="t-camp-num">09</td>
        <td class="t-conf-num">
          <a href="javascript:void(0)" class="underline" data-toggle="modal" data-target="#invoice-modal">AVR0135671236</a>
        </td>
        <td class="t-date">08/02/2017</td>
        <td class="t-total text-center">$8.50</td>
      </tr>
      <tr>
        <td class="t-customer">{{ fpo.person.5 }} {{ index }}</td>
        <td class="t-camp-num">09</td>
        <td class="t-conf-num">
          <a href="javascript:void(0)" class="underline" data-toggle="modal" data-target="#invoice-modal">AVR0135671236</a>
        </td>
        <td class="t-date">08/02/2017</td>
        <td class="t-total text-center">$8.50</td>
      </tr>
    </tbody>
  </table>
</div>
