{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# SECTION -  ICONS #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
<div class="bs-docs-section">
  <h1 id="customicons" class="page-header">Icons</h1>

  <h2 id="customicons-glyphs">Available icons</h2>
  <p>This is a custom font generated from SVG files the designers produce. Note: All icons are produced at 32x32px with some padding built-in defined by the designer. There are a few examples that don't include padding built in. They are marked below with (No Padding).
  <div class="bs-customicons">
    <ul class="bs-customicons-list">

        <li>
          <span class="lt-icon lt-search"></span>
          <span class="customicon-class">lt-icon lt-search</span>
        </li>

        <li>
          <span class="lt-icon lt-eye"></span>
          <span class="customicon-class">lt-icon lt-eye</span>
        </li>

        <li>
          <span class="lt-icon lt-carat-left"></span>
          <span class="customicon-class">lt-icon lt-carat-left</span>
        </li>

        <li>
          <span class="lt-icon lt-carat-up"></span>
          <span class="customicon-class">lt-icon lt-carat-up</span>
        </li>

        <li>
          <span class="lt-icon lt-carat-right"></span>
          <span class="customicon-class">lt-icon lt-carat-right</span>
        </li>

        <li>
          <span class="lt-icon lt-carat-down"></span>
          <span class="customicon-class">lt-icon lt-carat-down</span>
        </li>

        <li>
          <span class="lt-icon lt-cart"></span>
          <span class="customicon-class">lt-icon lt-cart</span>
        </li>

        <li>
          <span class="lt-icon lt-collapse-circle"></span>
          <span class="customicon-class">lt-icon lt-collapse-circle</span>
        </li>

        <li>
          <span class="lt-icon lt-expand-circle"></span>
          <span class="customicon-class">lt-icon lt-expand-circle</span>
        </li>

        <li>
          <span class="lt-icon lt-pen"></span>
          <span class="customicon-class">lt-icon lt-pen</span>
        </li>

        <li>
          <span class="lt-icon lt-mail"></span>
          <span class="customicon-class">lt-icon lt-mail</span>
        </li>

        <li>
          <span class="lt-icon lt-comments"></span>
          <span class="customicon-class">lt-icon lt-comments</span>
        </li>

        <li>
          <span class="lt-icon lt-comment"></span>
          <span class="customicon-class">lt-icon lt-comment</span>
        </li>

        <li>
          <span class="lt-icon lt-ellipsis"></span>
          <span class="customicon-class">lt-icon lt-ellipsis</span>
        </li>

        <li>
          <span class="lt-icon lt-question"></span>
          <span class="customicon-class">lt-icon lt-question</span>
        </li>

        <li>
          <span class="lt-icon lt-heart"></span>
          <span class="customicon-class">lt-icon lt-heart</span>
        </li>

        <li>
          <span class="lt-icon lt-store"></span>
          <span class="customicon-class">lt-icon lt-store</span>
        </li>

        <li>
          <span class="lt-icon lt-bag"></span>
          <span class="customicon-class">lt-icon lt-bag</span>
        </li>

        <li>
          <span class="lt-icon lt-camera"></span>
          <span class="customicon-class">lt-icon lt-camera</span>
        </li>

        <li>
          <span class="lt-icon lt-photo"></span>
          <span class="customicon-class">lt-icon lt-photo</span>
        </li>

        <li>
          <span class="lt-icon lt-phone"></span>
          <span class="customicon-class">lt-icon lt-phone</span>
        </li>

        <li>
          <span class="lt-icon lt-brochures"></span>
          <span class="customicon-class">lt-icon lt-brochures</span>
        </li>

        <li>
          <span class="lt-icon lt-clipboard"></span>
          <span class="customicon-class">lt-icon lt-clipboard</span>
        </li>

        <li>
          <span class="lt-icon lt-location"></span>
          <span class="customicon-class">lt-icon lt-location</span>
        </li>

        <li>
          <span class="lt-icon lt-bell"></span>
          <span class="customicon-class">lt-icon lt-bell</span>
        </li>

        <li>
          <span class="lt-icon lt-calendar"></span>
          <span class="customicon-class">lt-icon lt-calendar</span>
        </li>

        <li>
          <span class="lt-icon lt-lock"></span>
          <span class="customicon-class">lt-icon lt-lock</span>
        </li>

        <li>
          <span class="lt-icon lt-unlock"></span>
          <span class="customicon-class">lt-icon lt-unlock</span>
        </li>

        <li>
          <span class="lt-icon lt-creditcard"></span>
          <span class="customicon-class">lt-icon lt-creditcard</span>
        </li>

        <li>
          <span class="lt-icon lt-checkmark"></span>
          <span class="customicon-class">lt-icon lt-checkmark</span>
        </li>

        <li>
          <span class="lt-icon lt-close"></span>
          <span class="customicon-class">lt-icon lt-close</span>
        </li>

        <li>
          <span class="lt-icon lt-tip"></span>
          <span class="customicon-class">lt-icon lt-tip</span>
        </li>

        <li>
          <span class="lt-icon lt-info"></span>
          <span class="customicon-class">lt-icon lt-info</span>
        </li>

        <li>
          <span class="lt-icon lt-warning"></span>
          <span class="customicon-class">lt-icon lt-warning</span>
        </li>

        <li>
          <span class="lt-icon lt-warning-fill"></span>
          <span class="customicon-class">lt-icon lt-warning-fill</span>
        </li>

        <li>
          <span class="lt-icon lt-item-entry"></span>
          <span class="customicon-class">lt-icon lt-item-entry</span>
        </li>

        <li>
          <span class="lt-icon lt-share"></span>
          <span class="customicon-class">lt-icon lt-share</span>
        </li>

        <li>
          <span class="lt-icon lt-up"></span>
          <span class="customicon-class">lt-icon lt-up</span>
        </li>

        <li>
          <span class="lt-icon lt-right"></span>
          <span class="customicon-class">lt-icon lt-right</span>
        </li>

        <li>
          <span class="lt-icon lt-down"></span>
          <span class="customicon-class">lt-icon lt-down</span>
        </li>

        <li>
          <span class="lt-icon lt-left"></span>
          <span class="customicon-class">lt-icon lt-left</span>
        </li>

        <li>
          <span class="lt-icon lt-right-button"></span>
          <span class="customicon-class">lt-icon lt-right-button</span>
        </li>

        <li>
          <span class="lt-icon lt-refresh"></span>
          <span class="customicon-class">lt-icon lt-refresh</span>
        </li>

        <li>
          <span class="lt-icon lt-trash"></span>
          <span class="customicon-class">lt-icon lt-trash</span>
        </li>

        <li>
          <span class="lt-icon lt-pdf"></span>
          <span class="customicon-class">lt-icon lt-pdf</span>
        </li>

        <li>
          <span class="lt-icon lt-document"></span>
          <span class="customicon-class">lt-icon lt-document</span>
        </li>

        <li>
          <span class="lt-icon lt-print"></span>
          <span class="customicon-class">lt-icon lt-print</span>
        </li>

        <li>
          <span class="lt-icon lt-clock"></span>
          <span class="customicon-class">lt-icon lt-clock</span>
        </li>

        <li>
          <span class="lt-icon lt-minus"></span>
          <span class="customicon-class">lt-icon lt-minus (No Padding)</span>
        </li>

        <li>
          <span class="lt-icon lt-triangle-down"></span>
          <span class="customicon-class">lt-icon lt-triangle-down (No Padding)</span>
        </li>

        <li>
          <span class="lt-icon lt-star"></span>
          <span class="customicon-class">lt-icon lt-star (No Padding)</span>
        </li>

        <li>
          <span class="lt-icon lt-checkbox-checkmark"></span>
          <span class="customicon-class">lt-icon lt-checkbox-checkmark (No Padding)</span>
        </li>

        <li>
          <span class="lt-icon lt-checkbox-on"></span>
          <span class="customicon-class">lt-icon lt-checkbox-on (No Padding)</span>
        </li>

        <li>
          <span class="lt-icon lt-checkbox-minus"></span>
          <span class="customicon-class">lt-icon lt-checkbox-minus (No Padding)</span>
        </li>

    </ul>
  </div>


  <h2 id="customicons-how-to-use">How to use</h2>
  <p>For performance reasons, all icons require a base class and individual icon class. To use, place the following code just about anywhere. Be sure to leave a space between the icon and text for proper padding.</p>
  <div class="bs-callout bs-callout-danger">
    <h4>Don't mix with other components</h4>
    <p>Icon classes cannot be directly combined with other components. They should not be used along with other classes on the same element. Instead, add a nested <code>&lt;span&gt;</code> and apply the icon classes to the <code>&lt;span&gt;</code>.</p>
  </div>

  {{ highlightMarkup }}
  <span class="lt-icon lt-info"></span>
  {{ endhighlight }}

  <h2 id="customicons-sizes">Sizes</h2>
  <p>Sizing classes avaiable for icons: <code>.lt-small</code>, <code>.lt-medium</code>, <code>.lt-large</code></p>
  <p>
    <p><span class="lt-icon lt-warning lt-small mr-2 align-middle"></span> <span class="align-middle">Small icon</span></p>
    <p><span class="lt-icon lt-warning lt-medium mr-2 align-middle"></span> <span class="align-middle">Medium icon</span></p>
    <p><span class="lt-icon lt-warning lt-large mr-2 align-middle"></span> <span class="align-middle">Large icon</span></p>
  </p>
  {{ highlightMarkup }}
    <p>
      <span class="lt-icon lt-warning lt-small mr-2 align-middle"></span>
      <span class="align-middle">Small icon</span>
    </p>
    <p>
      <span class="lt-icon lt-warning lt-medium mr-2 align-middle"></span>
      <span class="align-middle">Medium icon</span>
    </p>
    <p>
      <span class="lt-icon lt-warning lt-large mr-2 align-middle"></span>
      <span class="align-middle">Large icon</span>
    </p>
  {{ endhighlight }}

  <h2 id="customicons-examples">Examples</h2>
  <p>Use them in buttons, button groups for a toolbar, navigation, or prepended form inputs.</p>
  <div class="bs-example">
    <div class="btn-toolbar" role="toolbar">
      <div class="btn-group">
        <button type="button" class="btn btn-default"><span class="lt-icon lt-store lt-medium"></span></button>
        <button type="button" class="btn btn-default"><span class="lt-icon lt-warning lt-medium"></span></button>
        <button type="button" class="btn btn-default"><span class="lt-icon lt-info lt-medium"></span></button>
        <button type="button" class="btn btn-default"><span class="lt-icon lt-close lt-medium"></span></button>
      </div>
    </div>
    <div class="btn-toolbar" role="toolbar">
      <button type="button" class="btn btn-default btn-lg"><span class="lt-icon lt-close lt-medium"></span> Close</button>
      <button type="button" class="btn btn-default"><span class="lt-icon lt-close lt-medium"></span> Close</button>
      <button type="button" class="btn btn-default btn-sm"><span class="lt-icon lt-close lt-medium"></span> Close</button>
      <button type="button" class="btn btn-default btn-xs"><span class="lt-icon lt-close lt-medium"></span> Close</button>
    </div>
  </div>
  {{ highlightMarkup }}
  <button type="button" class="btn btn-default btn-lg">
    <span class="lt-icon lt-close lt-medium"></span> Close
  </button>
  {{ endhighlight }}
</div>
