<li class="list-group-item single-cart-item box-emphasize my-4">

  <!-- START - CHECKBOX -->
  {% if includeCheckbox is not defined or includeCheckbox == true  %}
    {% include "_includes/elements/forms/checkbox.html.twig" with {checked: true, classes: "mt-1"} %}
  {% endif %}
  <!-- END - CHECKBOX -->

  <!-- START - CART SUMMARY -->
  <dl class="clearfix m-0">
    <dt class="pull-left">
      <a href="javascript:void(0)" data-toggle="collapse" data-target="#collapse-{{ indexNum }}-cart-item" class="link-plain {% if collapsed != false %} collapsed {% endif %}">
        <span class="lt-icon lt-triangle-down collapse-indicator align-middle"></span>
        <span class="ml-3 align-middle">{{ personName }}</span>
      </a>
    </dt>
    <dt class="pull-right cart-total" data-total="{{ total }}">${{ total }}</dd>
  </dl>

  <dl class="clearfix ml-5 mt-0 mt-md-3 mb-3 mr-0">
    <dd class="pull-left small text-muted">{{ itemCount }} items</dd>
    <dd class="pull-right cart-delete small text-muted">
      <a href="javascript:void(0);" class="link-muted underline" data-toggle="modal" data-target="#blank-modal-either-or">Delete</a>
    </dd>
  </dl>
  <!-- END - CART SUMMARY -->

  <!-- START - CART DETAILS (EXPANDABLE) -->
  <div class="details collapse {% if collapsed == false %} in {% endif %}" id="collapse-{{ indexNum }}-cart-item">

    <table class="table table-fixed table--carts">
      <thead>
        <tr>
          <th class="t-item hidden-xs hidden-sm small text-muted">Item</th>
          <th class="t-desc invisible small text-muted">Description</th>
          <th class="t-price hidden-xs hidden-sm small text-muted">Price</th>
          <th class="t-qty small text-muted pl-4">Qty</th>
        </tr>
      </thead>
      <tbody>

        <!-- START - REPEATABLE ITEMS -->

        {% include '_includes/groups/your-order/single-product-tr.html.twig' with {
          productName: 'Anew Ultimate Supreme Advanced Performance Créme',
          img: '/images/fpo/agnew-ultimate.png',
          autoReplenish: null,
          sku: '829-957',
          price: '$30.00',
          classes: 'input-sm'
        }%}

        {% include '_includes/groups/your-order/single-product-tr.html.twig' with {
          productName: 'Anew Super Coverup',
          img: '/images/fpo/cover-up.png',
          autoReplenish: true,
          sku: '329-321',
          price: '$10.00',
          classes: 'input-sm'
        }%}

        {% include '_includes/groups/your-order/single-product-tr.html.twig' with {
          productName: 'Anew Purfume',
          img: '/images/fpo/purfume.png',
          autoReplenish: null,
          sku: '856-376',
          price: '$45.00',
          classes: 'input-sm'
        }%}

         <!-- END - REPEATABLE ITEMS -->

      </tbody>
    </table>


  </div>
  <!-- END - CART DETAILS (EXPANDABLE) -->


  {% if viewOffers %}
  <!-- START - VIEW OFFERS -->
  <section>

    <!-- START - VIEW OFFERS CONTENT (EXPANDABLE) -->
    <div class="details collapse" id="collapse-{{ indexNum }}-view-offer">
      <!-- TODO: Make repeatable style for this, if it gets used again -->
      <ul class="list-unstyled row border-secondary d-table">

        <li class="col-sm-6 p-3 border-secondary d-table-cell">
          {{ offer10Discount }}
        </li>
        <li class="col-sm-6 p-3 border-secondary d-table-cell">
          {{ offer10Discount }}
        </li>

      </ul><!-- /.row -->
    </div>
    <!-- END - VIEW OFFERS CONTENT (EXPANDABLE) -->


    <!-- START - EXPANDABLE TRIGGER -->
    {# <div class="text-center border-top pt-3">
      <a href="javascript:void(0)" data-toggle="collapse" data-target="#collapse-{{ indexNum }}-view-offer" class="collapse-updown collapsed">
        <b>View offers</b>
        <span class="lt-icon lt-triangle-down collapse-indicator"></span>
      </a>
    </div> #}
    <!-- END - EXPANDABLE TRIGGER -->

  </section>
  <!-- END - VIEW OFFERS -->
  {% endif %}

</li>
