<li class="list-group-item single-cart-item panel panel-secondary my-4">

  <!-- START - CHECKBOX -->
  {% include components.elements.forms.checkbox with {checked: true, classes: ""} %}
  <!-- <div class="checkbox">
    <label>
      <input type="checkbox" checked>
    </label>
  </div> -->
  <!-- END - CHECKBOX -->

  <!-- START - CART SUMMARY -->
  <dl class="clearfix m-0">
    <dt class="pull-left">
      <a href="#collapse-{{ indexNum }}" data-toggle="collapse" {% if collapsed != false %} class="collapsed" {% endif %}>
        <span class="lt-icon lt-rightside collapse-indicator"></span>
        <b>{{ personName }}</b>
      </a>
    </dt>
    <dd class="pull-right cart-total" data-total="{{ total }}">${{ total }}</dd>
  </dl>

  <dl class="clearfix m-0">
    <dt class="pull-left">{{ itemCount }} items</dt>
    <dd class="pull-right cart-discount" data-discount="45.55">Discount: $45.55</dd>
  </dl>
  <!-- END - CART SUMMARY -->

  <!-- START - CART DETAILS (EXPANDABLE) -->
  <div class="details collapse {% if collapsed == false %} in {% endif %}" id="collapse-{{ indexNum }}">

    <table class="table mt-4">
      <thead>
        <tr>
          <th class="t-item hidden-xs hidden-sm">Item</th>
          <th class="t-desc invisible">Description</th>
          <th class="t-price">Price</th>
          <th class="t-qty text-right">Qty</th>
        </tr>
      </thead>
      <tbody>

        <!-- START - REPEATABLE ITEMS -->

        {% include '_includes/groups/your-order/single-product-tr.html.twig' with {
          productName: 'Anew Ultimate Supreme Advanced Performance Créme',
          img: '/images/fpo/agnew-ultimate.png',
          autoReplenish: null,
          sku: '829-957',
          price: '$30.00',
          classes: 'input-sm'
        }%}

        {% include '_includes/groups/your-order/single-product-tr.html.twig' with {
          productName: 'Anew Super Coverup',
          img: '/images/fpo/cover-up.png',
          autoReplenish: true,
          sku: '329-321',
          price: '$10.00',
          classes: 'input-sm'
        }%}

        {% include '_includes/groups/your-order/single-product-tr.html.twig' with {
          productName: 'Anew Purfume',
          img: '/images/fpo/purfume.png',
          autoReplenish: null,
          sku: '856-376',
          price: '$45.00',
          classes: 'input-sm'
        }%}

         <!-- END - REPEATABLE ITEMS -->

      </tbody>
    </table>


  </div>
  <!-- END - CART DETAILS (EXPANDABLE) -->


  {% if viewOffers %}
  <!-- START - VIEW OFFERS -->
  <section>

    <!-- START - VIEW OFFERS CONTENT (EXPANDABLE) -->
    <div class="details collapse pt-3" id="collapse-{{ indexNum }}-view-offer">
      <!-- TODO: Make repeatable style for this, if it gets used again -->
      <ul class="list-unstyled row border-secondary d-table">


        <li class="col-sm-6 p-3 border-secondary d-table-cell">
          {{ offer10Discount }}
        </li>
        <li class="col-sm-6 p-3 border-secondary d-table-cell">
          {{ offer10Discount }}
        </li>

      </ul><!-- /.row -->
    </div>
    <!-- END - VIEW OFFERS CONTENT (EXPANDABLE) -->


    <!-- START - EXPANDABLE TRIGGER -->
    <!-- TODO: Make option where if collapsable is above content, arrow is reversed -->
    <div class="text-center border-top pt-3">
      <a href="#collapse-{{ indexNum }}-view-offer" data-toggle="collapse">
        <b>View offers</b>
        <span class="lt-icon lt-rightside collapse-indicator"></span>
      </a>
    </div>
    <!-- END - EXPANDABLE TRIGGER -->

  </section>
  <!-- END - VIEW OFFERS -->
  {% endif %}

</li>
