  
  <li class="list-group-item {{msgStatus}}">
  	<div class="row">
  		<div class="col-md-11">
  			{{msgText}} <a href="{{msgURL}}">{{msgLinkText}}</a>.
  		</div>
  		<div class="col-md-1 text-right">
  			{{msgDate}}
  		</div>
  	</div>
  </li>