{% set msgClass = '' %}
{% if msgRead %}
  {% set msgClass = 'reverse-bg' %}
{% endif %}

{% set contentClass = '' %}
{% if hasDelete %}
  {% set contentClass = 'has-delete' %}
{% endif %}

<li class="list-group-item list-group-item--collapse d-flex {{ msgClass }}">
  <div class="content collapsed {{ contentClass }}" data-toggle="collapse" data-target="#msgCenterRow{{ index }}" aria-expanded="false" aria-controls="msgCenterRow{{ index }}">
    <p class="collapse mr-4 mb-0" id="msgCenterRow{{ index }}" aria-expanded="false">
      <span>{{ msgText }}</span>
    </p>
    <div class="content__close">
      <a href="javascript:void(0)">Close</a>
    </div>
  </div>
  <span class="msg-date nowrap mr-4">{{ msgDate }}</span>
  {% if hasDelete %}<a href="javascript:void(0)" class="msg-icon"><span class="lt-icon lt-trash lt-large"></span></a>{% endif %}
</li>
