<li class="list-group-item list-group-item--collapse d-flex {{msgStatus}}">
  <a role="button" class="collapsed link-plain" data-toggle="collapse" data-target="#collapseExample{{ index }}" aria-expanded="false" aria-controls="collapseExample{{ index }}">
    <p class="collapse mr-4 mb-0" id="collapseExample{{index}}" aria-expanded="false">
      {{msgText}}
      <a href="{{msgURL}}">{{msgLinkText}}</a>
    </p>
  </a>
  <span class="nowrap ml-auto mr-4">{{msgDate}}</span>
  <!-- <span class="lt-icon lt-trash lt-large"></span> -->
</li>
