<li class="list-group-item list-group-item--collapse d-flex {{ msgStatus }}">
  <div class="content collapsed" data-toggle="collapse" data-target="#msgCenterRow{{ index }}" aria-expanded="false" aria-controls="msgCenterRow{{ index }}">
    <p class="collapse mr-4 mb-0" id="msgCenterRow{{ index }}" aria-expanded="false">
      {{ msgText }}
    </p>
    <!-- <span class="more">...</span> -->
  </div>
  <span class="nowrap ml-auto mr-4">{{ msgDate }}</span>
  {% if hasDelete %}<span class="lt-icon lt-trash lt-large"></span>{% endif %}
</li>
