<!-- {{ module.html.twig }}
  ================================================== -->
<h2 id="{{ modItem.slug }}">{{ modItem.title }}</h2>
{{ modItem.description }}
<div class="bs-example">
  {% include components.elements.images.logoYourAvon %}
</div>
{{ highlightMarkup }}
  {% include components.elements.images.logoYourAvon %}
{{ endhighlight }}