{% set urlBase = "../../" %}
<!-- {{ modItem.title }}
  ================================================== -->
<h2 id="{{ modItem.slug }}">{{ modItem.title }}</h2>
<div class="bs-example">
  {% include urlBase ~ modItem.path %}
</div>
{{ highlightMarkup }}
  {% include urlBase ~ modItem.path %} 
{{ endhighlight }}