<!-- {{ module.html.twig }}
  ================================================== -->
<h2 id="{{ styleguideItem.slug }}" class="bs-headline">{{ styleguideItem.title }}</h2>
{{ styleguideItem.description }}
<div class="bs-example">
  {% include styleguideItem.path %}
</div>
{{ highlightMarkup }}
  {% include styleguideItem.path %}
{{ endhighlight }}