<!-- {{ module.html.twig }}
  ================================================== -->
<h2 id="{{ modItem.slug }}">{{ modItem.title }}</h2>
{{ modItem.description }}
<div class="bs-example">
  include modItem.path %}
</div>
{{ highlightMarkup }}
  include modItem.path %} 
{{ endhighlight }}