
<h2 id="{{ styleguideItem.slug }}" class="bs-headline">{{ styleguideItem.title }}</h2>
{{ styleguideItem.description }}
<div class="bs-example">
  {% if styleguideItem.snippet %}
    {{ styleguideItem.snippet }}
  {% else %}
    {% include styleguideItem.path %}
  {% endif %}
</div>
{{ highlightMarkup }}
  {% if styleguideItem.snippet %}
    {{ styleguideItem.snippet }}
  {% else %}
    {% include styleguideItem.path %}
  {% endif %}
{{ endhighlight }}