<!-- {{ module.html.twig }}
  ================================================== -->
<h2 id="{{ styleguideItem.slug }}">{{ styleguideItem.title }}</h2>
{{ styleguideItem.description }}
<div class="bs-example">
  {% include components.elements.images.logoYourAvon %}
</div>
{{ highlightMarkup }}
  {% include components.elements.images.logoYourAvon %}
{{ endhighlight }}