{% if id %}
  {% set id = ' id="' ~ id ~ '"' %}
{% endif %}
{% if name %}
  {% set name = ' name="' ~ name ~ '"' %}
{% endif %}
{% if theValue %}
  {% set theValue = ' value="' ~ theValue ~ '"' %}
{% endif %}
{% if checked %}
  {% set checked = ' checked' %}
{% endif %}

{{ thelabel ? theLabel : '' }}

<div class="checkbox {{ classes }}">
  <label>
    <input type="checkbox" {{ id }}{{ name }}{{ theValue }}{{ checked }}>
    <span class="mr-4"><i class="lt-icon lt-checkbox-checkmark lt-small"></i><i class="indeterminate lt-icon lt-checkbox-minus"></i></span>
    {{ theLabel }}
  </label>
</div>
