{% if id %}
  {% set id = ' id="' ~ id ~ '"' %}
{% endif %}
{% if name %}
  {% set name = ' name="' ~ name ~ '"' %}
{% endif %}
{% if theValue %}
  {% set theValue = ' value="' ~ theValue ~ '"' %}
{% endif %}
{% if checked %}
  {% set checked = ' checked' %}
{% endif %}
{% if required %}
  {% set required = ' required' %}
{% endif %}

{{ thelabel ? theLabel : '' }}

<div class="checkbox {{ classes }} {% if wrapLabel %}wrap-label{% endif %}">
  <label>
    <input type="checkbox" {{ id }}{{ name }}{{ theValue }}{{ checked }}{{ required }}>

    <span class="{% if not wrapLabel %}mr-4{% endif %}"><i class="lt-icon lt-checkbox-checkmark lt-small"></i><i class="indeterminate lt-icon lt-checkbox-minus"></i></span>
    {% if emphasize %} <strong> {% endif %}
    {{ theLabel }}
    {% if emphasize %} </strong> {% endif %}
    {% if helperText %}
      <div class="small">{{ helperText }}</div>
    {% endif %}

  </label>

</div>
