{% if haslabelErrorIcon %}
  {% set errorIcon %}
    {% include "_includes/elements/forms/label-error-icon.html.twig" %}
  {% endset %}
{% endif %}

<label class="control-label {{ classes }}" for="{{ id }}">{{ errorIcon }}{{ mainLabel }}</label>
{% if labelAddon %}
  <span class="control-label-addon">{{ labelAddon }}</span>
{% endif %}
