{% if name %}
  {% set name = ' name="' ~ name ~ '"' %}
{% endif %}
{% if id %}
  {% set id = ' id="' ~ id ~ '"' %}
{% endif %}
{% if theValue %}
  {% set theValue = ' value="' ~ theValue ~ '"' %}
{% endif %}
{% if checked %}
  {% set checked = ' checked ' %}
{% endif %}
{% if disabled %}
  {% set disabled = ' disabled ' %}
{% endif %}

{{ thelabel ? theLabel : '' }}

<div class="radio {{ classes }}">
  <label>
    <input type="radio" {{ name }} {{ id }}{{ theValue }}{{ checked }}{{ disabled }}>
    <span class="mr-4"></span>
    {{ theLabel }}
  </label>
</div>
