{# If no list items have been passed in, use these FPO items  #}
{% if items is empty %}
  {% set items = [{
      'label': '1'
    }, {
      'label': '2'
    }, {
      'label': '3'
    }
    ] %}
{% endif %}
{% if classes %}
  {% set classes = ' ' ~ classes %}
{% endif %}
{% if id %}
  {% set id = ' id="' ~ id ~ '"' %}
{% endif %}
{% if multiple %}
  {% set multiple = ' multiple' %}
{% else %}
  {# If the "form-group" container hasn't been added (likely by select-and-label.html.twig) add it here #}
  {% if hasFormGroup != true %}
    {% set formGroupStart = components.elements.forms.selectWrapper.start %}
    {% set formGroupEnd = components.elements.forms.selectWrapper.end %}
    {% set indenet = '  ' %}
  {% endif %}
{% endif %}
{{ formGroupStart }}
{{ indenet }}<select class="form-control{{ classes }}"{{ id }}{{ multiple }}>
{{ indenet }}{% for item in items %}
{{ indenet }}  <option>{{ item.label }}</option>
{{ indenet }}{% endfor %}
{{ indenet }}</select>
{{ formGroupEnd }}
