{% if alertId %}
  {% set alertId = ' id="' ~ alertId ~ '"' %}
{% endif %}

{% if alertClasses is not defined %}
  {% set alertClasses = '' %}
{% endif %}

{# If an icon is present, and it's a "section" alert, put in the columns layout #}
{% if (alertIcon) and (alertLevel == 'section') %}
  {% set alertIconMsgColsTagOpen = '<span class="alert-icon-msg-cols">' %}
  {% set alertIconMsgColsTagClose = '</span>' %}
{% endif %}

{% if alertMsg is not defined %}
  {% set alertMsg = 'This is a default alert message, you should change me!' %}
{% endif %}

{% if alertLevel == 'page' %}
  {% set alertLevelClass = ' alert-level-page ' %}
{% elseif alertLevel == 'inline-text'  %}
  {% set alertLevelClass = ' alert-level-inline-text ' %}
{% else %}
  {% set alertLevelClass = ' alert-level-section ' %}
{% endif %}

<section class="alert{{ alertLevelClass }}{{ alertClasses }}"{{ alertId }}>
  {{ alertIconMsgColsTagOpen }}
    {% if alertIcon %}
      <span class="alert-msg-icon alert-msg-icon-badge lt-medium {{ alertIcon }}"></span>
    {% endif %}
    <span class="alert-msg-txt">
      {# If a headline is not defined, assume the message IS the headline #}
      {% if alertMsgHeadline %}
        <span class="alert-msg-headline">{{ alertMsgHeadline }}</span>
        {{ alertMsg }}
      {% else %}
        <span class="alert-msg-headline">{{ alertMsg }}</span>
      {% endif %}
    </span>
    {{ alertIconMsgColsTagClose }}
  </span>
</section>

