<!--
Parameters:
  amount (string - dollar amount '$0.00')
  type (string - name of payment type 'VISA ending in 1234')
  icon (string - path to payment icon '/images/icons/payment-avoncredit.svg')
  subhead (string - secondary info that appears under the payment type '$85 available' or 'Transaction ID: 12345')
  holder (string - card holder name 'Marcia Brady')
  expired (boolean - will show or hide the 'Expired' text)
  expiredDate (string - card expired date '01/17')
  editable (boolean - will show or hide 'Edit | Remove' links)
  alertMsg (string - if present, will show an alert / warning with its value)
  buttonMode (boolean - will make the entire row item clickable)


-->

{# set defaults #}
{% if editable is not defined %}
  {% set editable = true %}
{% endif %}

{% if buttonMode is not defined %}
  {% set buttonMode = false %}
{% endif %}

{# wrap entire row in link if buttonMode is true #}
{% if buttonMode %}
  <a href="#" class="link-secondary btn-block border-bottom">
{% else %}
   <div class="border-bottom">
{% endif %}

  {% if expired %}
  <div class="clearfix my-2 py-3 text-danger">
  {% else %}
  <div class="clearfix my-2 py-3">
  {% endif %}
    {% if icon %}
      <div class="pull-left mr-4">
        <img src="{{ icon }}">
      </div>
    {% endif %}
    {% if expired %}
      <div class="pull-left">
        <div>{{ type }}</div>
        {% if subhead %}<div class="text-danger small">{{ subhead }}</div>{% endif %}
        {% if holder %}<div class="text-danger small">
          {{ holder }}
          {% if expiredDate %}| Exp. {{ expiredDate }}{% endif %}
        {% endif %}
        </div>
      </div>
    {% else %}
      <div class="pull-left">
        <div>{{ type }}</div>
        {% if subhead %}<div class="text-muted small">{{ subhead }}</div>{% endif %}
        {% if holder %}<div class="text-muted small">{{ holder }}</div>{% endif %}

      </div>
    {% endif %}
    <div class="pull-right text-right">
      {% if amount %}
        <div>{{ amount }}</div>
      {% endif %}
      {% if editable %}
        <div class="small"><a class="underline" href="#">Edit</a> | <a class="underline" href="#">Remove</a></div>
      {% endif %}
      
    </div>

    {% if alertMsg %}
      <div class="clearfix"></div>

      <!-- START - INLINE LEVEL - JUST BULLETS -->
      {% include "_includes/groups/alerts/alert-level-template.html.twig" with {
        alertIcon: null,
        alertHeadline: null,
        alertBody: '
        <ul class="alert-list">
          <li>Error pertaining to this payment method</li>
        </ul>',
        alertBtnText: null,
        alertClasses: 'alert-danger mt-4 mb-0',
        alertLevel: 'content',
        alertDismissable: false,
        alertId: null
      } %}
      <!-- END - INLINE LEVEL - JUST BULLETS -->

    {% endif %}

  </div>

{% if buttonMode %}
  </a>
{% else %}
  </div>
{% endif %}
