<table class="table table-condensed table-last-col-right small m-0">
  <tbody>

    {% for item in items %}
      <tr>
        <td class="t-item">
          <img src="{{ item.imgPath }}" class="product-img-fixed-size" alt="">
        </td>

        <td class="t-desc">
          <span class="mr-4">
            <strong>{{ item.title }}</strong>
          </span>
          <span class="text-muted d-block">829-957</span>
        </td>

        <td class="t-price">
          <div class="mb-2">{{ item.price }}</div>
          <div class="text-muted mb-2">
            {% if showEarningsDetails %}
            QTY: {{ item.qty }} x $10.00
            {% else %}
            QTY: {{ item.qty }}
            {% endif %}
          </div>
          {% if showEarningsDetails %}
            <div class="text-muted mb-2">
              <em>Earnings: $35.00</em>
            </div>
          {% endif %}
        </td>
      </tr>
    {% endfor %}

  </tbody>

</table>
