{% if carouselId %}
  {% if isFirstItem %}
    {% set classes = ' active ' %}
  {% endif %}
  {% set toolbarDataAttrs = ' data-toggle="modal" data-target="#' ~ carouselId ~ '"'  %}
{% endif %}

{% if itemContainerType == 'carouselOnly' %}
  {% set addMargin = false %}
{% else %}
  {% set addMargin = true %}
{% endif %}


<!-- START - SINGLE SLIDE -->
<div class="item {% if addMargin %}my-3{% else %}my-0{% endif %} {{ classes }}">
  <div class="box-group--item">

    {% if hasToolbar %}
    <!-- START - TOOLBAR (CUSTOMIZE DASHBOARD) -->
    <div class="toolbar">
      <span class="badge">{{ loopIndex }}</span>
      <a href="#" class="change-widget-trigger underline"{{ toolbarDataAttrs }}>Change</a>
    </div>
    <!-- END - TOOLBAR (CUSTOMIZE DASHBOARD) -->
    {% endif %}

    <div class="item-content">

      {% if widgetPath %}
        <!-- START - WIDGET -->
        {% include widgetPath %}
        <!-- END - WIDGET -->
      {% endif %}

      {% if fpoImgSrc %}
        <!-- START - FPO CONTENT -->
        <img {{ fpoImgSrc }} alt="FPO image" class="widget-img">
        <!-- END - FPO CONTENT -->
      {% endif %}

      {% if imgSrc %}
        <img src="{{ imgSrc }}" alt="" class="img-responsive">
      {% endif %}

    </div>
  </div><!-- /.box-group-item -->
</div><!-- /.item -->
<!-- END - SINGLE SLIDE -->
