{# Must pass in a "carouselId" or this will assume it's not a carousel #}
{% if carouselId %}
  

  {# INDICATORS (DOTS) #}
  {% set carouselIndicators = '<!-- START - INDICATORS -->
  <ol class="carousel-indicators">
    <li data-target="#' ~ carouselId ~ '" data-slide-to="0" class="active"></li>
    <li data-target="#' ~ carouselId ~ '" data-slide-to="1"></li>
    <li data-target="#' ~ carouselId ~ '" data-slide-to="2"></li>
    <li data-target="#' ~ carouselId ~ '" data-slide-to="3"></li>
  </ol>
  <!-- END - INDICATORS -->' %}

  {# CONTROLS (LEFT / RIGHT ARROWS) #}
  {% set carouselControls = '<!-- START - CONTROLS -->
  <a class="left carousel-control" href="#' ~ carouselId ~ '" data-slide="prev">
    <span class="lt-icon lt-left lt-large"></span>
  </a>
  <a class="right carousel-control" href="#' ~ carouselId ~ '" data-slide="next">
    <span class="lt-icon lt-right lt-large"></span>
  </a>
  <!-- END - CONTROLS -->' %}

  {# CDATA ATTRIBUTES AND CLASSES #}
  {% set carouselContainer_Id = ' id="' ~ carouselId ~ '" ' %}
  {% set carouselContainer_DataAttrs = ' data-ride="carousel"  data-interval="false"' %}
  {% set carouselContainer_Classes = ' carousel slide ' %}
  {% set carouselSlide_Classes = ' carousel-inner ' %}

{% endif %}



<!-- START - CAROUSEL {{ carouselId }}--> 
<div  {{carouselContainer_Id}} class="{{ carouselContainer_Classes }} carousel--box-group-primary" {{ carouselContainer_DataAttrs }}>
  
  {{ carouselIndicators }}

  <!-- START - SLIDES -->
  <div class="{{ carouselSlide_Classes }} carousel-inner box-group--primary">

    {% for item in items %}
      {% include "_includes/groups/boxes/primary/item.html.twig" with { 
        src: item.imgPath, 
        isFirstItem: loop.first, 
        loopIndex: loop.index, 
        hasToolbar: hasToolbar 
      } %}
    {% endfor %}

  </div>
  <!-- END - SLIDES -->

  {{ carouselControls }}

</div>
<!-- END - CAROUSEL {{ carouselId }}--> 