<img class='thumb' src='{{ thumb }}'>
<span class='{% if expired %}text-danger{% endif %} {% if label %}d-inline-block align-middle{% endif %}'>
  {% if label %}
    {{ label }}
  {% else %}
    {{ cardType }} ending in {{ lastFour }}
  {% endif %}
</span>
{% if not label %}
<p class='info small {% if expired %}text-danger{% else %}text-muted{% endif %}'>
  <span class='name-on-card'>{{ name }}</span> <span>|</span> {% if expired %}<span>Expired {% else %}<span>Expires {% endif %} {{ expirationDate }}</span>
</p>
{% endif %}

