<img class='thumb' src='{{ thumb }}'>
<span class='{% if expired %}text-danger{% endif %}'>
  {% if label %}
    {{ label }}
  {% else %}
    {{ cardType }} ending in {{ lastFour }}
  {% endif %}
</span>
{% if not label %}
<p class='info small {% if expired %}text-danger{% else %}text-muted{% endif %}'>
  {{ name }} | {% if expired %}Expired {% else %}Expires {% endif %} {{ expirationDate }}
</p>
{% endif %}

