{% if isModal %}
  {% set linkAttrs = 'data-toggle="modal" data-target="#quick-shop-modal"' %}
{% endif %}

<li class="avon-product-list__item container-fluid border-bottom">
  <a href="{{ itemUrl }}" {{ linkAttrs }}>
    <div class="row">
      <div class="col col-xs-3 col-sm-2">
        <img src="{{ imgUrl }}" class="product-img img-responsive">
      </div>
      <div class="col col-xs-9 col-sm-10 pr-0">
        <div class="col col-xs-12 col-sm-8">
          <p class="title link-plain"><strong>{{ itemTitle }}</strong></p>
          <p>
            <span class="sale-price mr-4 link-plain large"><strong>{{ itemPrice }}</strong></span>
            <span class="reg-price small text-muted link-plain nowrap">Regular Price: <span class="strike-through">{{ regPrice }}</span></span>
          </p>
          {# <p>
            <span class="rating small">
              {% include components.elements.ratings.selected %}
              {% include components.elements.ratings.selected %}
              {% include components.elements.ratings.selected %}
              {% include components.elements.ratings.selected %}
              {% include components.elements.ratings.unselected %}
              <span class="num-ratings">{{ numRatings }}</span>
            </span>
            <span class="stock small"><span class="lt-icon lt-checkmark" aria-hidden="true"></span> {{ stockStatus }}</span>
          </p> #}
        </div>
        <div class="col col-xs-12 col-sm-4 hidden-xs">
          <p>
            <button type="button" class="btn btn-default btn-sm pull-right-sm" data-toggle="modal" data-target="#quick-shop-modal">
              Quick Shop
            </button>
          </p>
        </div>
      </div>
    </div>
  </a>
</li>
