<tr class="t-has-col-start">

  <td class="t-checkbox t-row-1 t-col-start pr-0">
    {% include "_includes/elements/forms/checkbox.html.twig" with { checked: false, classes: 'input-sm ', wrapLabel: true } %}
  </td>

  <td class="t-first-name t-primary t-row-1 t-inline t-col-sibling-left">
    <div class="truncate">
      <a href="#" class="link-plain link-underline font-weight-bold">Firstname{{ longFirstName }}</a>
    </div>
  </td>

  <td class="t-last-name t-primary t-row-1 t-inline">
    <div class="truncate">
      <a href="#" class="link-plain link-underline font-weight-bold">Lastname{{ longLastName }}</a>
    </div>
  </td>



  {% if contactType == 'team' %}
  <!-- START - For "Team List" only -->


   <td class="t-upline t-row-2 t-block t-col-sibling-left text-muted">
    <div class="truncate">
      <span class="t-key">Upline: </span>Contact Name{{ longContactName }}
    </div>
  </td>

  <td class="t-gen t-row-2 t-block t-col-sibling-left text-muted">
    <div class="truncate">
      <span class="t-key">Gen: </span>00000
    </div>
  </td>
  <!-- END - For "Team List" only -->
{% endif %}


  <td class="t-phone t-row-3 t-block t-col-sibling-left text-muted">(000) 000-0000</td>

  <td class="t-email t-row-3 t-block t-col-sibling-left text-muted">
    <div class="truncate"><a href="#" class="link-secondary link-underline">firstname{{   longFirstName }}lastname{{ longLastName }}@bigtimecompany.com</a>
    </div>
  </td>
{% if contactType == 'customer' %}
  <!-- START - For "Customer List" only -->
  <td class="t-customer-type t-row-3 t-block t-col-sibling-left text-muted">
    {% if isOnlineCustomer %}
    <span class="customer-type--label">Online Customer</span>
    <span class="customer-type--icon">
      <span class="lt-icon lt-checkmark lt-medium"></span>
    </span>
    {% endif %}
  </td>
  <!-- END - For "Customer List" only -->
{% endif %}
  <td class="t-groups t-row-3 t-block t-col-sibling-left text-muted">
    {% if groupName %}<span class="label label-secondary label-wrap">{{ groupName }}</span>{% endif %}
    {% if groupName2 %}<span class="label label-secondary label-wrap">{{ groupName2 }}</span>{% endif %}
  </td>
  <td class="t-actions t-row-1 t-self-end">

    <div class="btn-group">
      <a href="javascript:void(0)" data-toggle="dropdown" class="link-muted"><span class="lt-icon lt-ellipsis lt-large"></span></a>
      <ul class="dropdown-menu pull-right">
        <li><a href="tel:1-000-000-0000" class="link-phone-number">Call</a></li>
        <li><a href="mailto:someone@somewhere.com">Email</a></li>
        <li><a href="#">Action</a></li>
        <li><a href="#">Action</a></li>
      </ul>
    </div>
  </td>
</tr>


