<tr class="t-has-absolute-col-left-and-right">
  <!-- CHECKBOX -->
  <td class="t-checkbox t-absolute-col-left pr-0">
    {% include "_includes/elements/forms/checkbox.html.twig" with { checked: false, classes: 'input-sm contact-list-checkbox-item ', wrapLabel: true } %}
  </td>
  <!-- FIRST NAME -->
  <td class="t-first-name t-primary t-inline">
    <div class="truncate">
      <a href="#" class="link-plain link-underline font-weight-bold">Firstname{{ longFirstName }}</a>
    </div>
  </td>
  <!-- LAST NAME -->
  <td class="t-last-name t-primary t-inline">
    <div class="truncate">
      <a href="#" class="link-plain link-underline font-weight-bold">Lastname{{ longLastName }}</a>
    </div>
  </td>


  {% if contactType == 'team' %}
  <!-- START - "TEAM" COLUMNS -->
  <!-- UPLINE -->
  <td class="t-upline t-block text-muted">
    <div class="truncate">
      <span class="t-key">Upline: </span>Contact Name{{ longContactName }}
    </div>
  </td>
  <!-- GEN -->
  <td class="t-gen t-block text-muted">
    <div class="truncate">
      <span class="t-key">Gen: </span>00000
    </div>
  </td>
  <!-- END - "TEAM" COLUMNS -->
{% endif %}

  <!-- PHONE -->
  <td class="t-phone t-block text-muted">(000) 000-0000</td>
  <!-- EMAIL -->
  <td class="t-email t-block text-muted">
    <div class="truncate"><a data-toggle="modal" data-target="#modal-contact-detail-send-email" href="javascript:void(0)" class="link-plain link-underline">firstname{{ longFirstName }}lastname{{ longLastName }}@bigtimecompany.com</a>
    </div>
  </td>
{% if contactType == 'customer' %}
  <!-- START - "CUSTOMER" COLUMNS -->
  <!-- CUSTOMER -->
  <td class="t-customer-type t-block text-muted">
    {% if isOnlineCustomer %}
    <span class="customer-type--label">Online Customer</span>
    <span class="customer-type--icon">
      <span class="lt-icon lt-checkmark lt-medium"></span>
    </span>
    {% endif %}
  </td>
  <!-- END - "CUSTOMER" COLUMNS -->
{% endif %}
  <!-- GROUPS -->
  <td class="t-groups t-block text-muted">
    {% if groupName %}<span class="label label-secondary label-wrap label-xs">{{ groupName }}</span>{% endif %}
    {% if groupName2 %}<span class="label label-secondary label-wrap label-xs">{{ groupName2 }}</span>{% endif %}
  </td>
  <!-- ACTIONS -->
  <td class="t-actions t-absolute-col-right">
    <div class="btn-group">
      <a href="javascript:void(0)" data-toggle="dropdown" class="link-muted"><span class="lt-icon lt-ellipsis lt-large"></span></a>
      <ul class="dropdown-menu pull-right">
        <!-- PHONE LINK -->
        <li class="visible-xs"><a href="tel:1-000-000-0000" class="link-phone-number">Call</a></li>
        <!-- EMAIL LINK -->
        <li class="visible-xs"><a href="mailto:someone@somewhere.com">Email</a></li>
        <!-- GENERIC LINK -->
        <li><a href="#">Action</a></li>
        <li><a href="#">Action</a></li>
      </ul>
    </div>
  </td>
</tr>


