{% extends layouts.base %}

{% if contactType is empty %}
  {% set contactType = 'team' %}
{% endif %}

{% set sectionClass = 'page--contacts-list contact-type--' ~ contactType %}

{% if contactType == 'team' %}
  {% set contactTypeLabel = 'Team' %}
{% else %}
  {% set contactTypeLabel = 'Customer' %}
{% endif %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block content %}

  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# DEFINE BLOCK - MAIN #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {% block main %}

    <section class="container container--page">

      <header class="row" role="header">
        <div class="col-md-12 mb-2">
          <h2 class="mb-4 mr-auto">{{ contactTypeLabel }} Contacts</h2>


          <!-- START - AUTOCOMPLETE -->
          <div class="d-flex align-items-center flex-wrap actions-primary">
            <form class="form-inline mb-4 mr-md-5 autocomplete-form">
              <div class="input-group mt-3 mt-sm-0 customer-select-autocomplete contact-list-autocomplete autocomplete-container">
                <!-- 'Modal' header for mobile autocomplete -->
                <div class="modal-header">
                  <button type="button" class="close link-muted" data-dismiss="modal" aria-hidden="true">
                    <span class="sr-only">Close modal</span>
                    <span class="lt-icon lt-close lt-large py-1"></span>
                  </button>
                  <h4 class="modal-title text-center">Search My Team</h4>
                </div>

                <div class="input-group">
                  <span class="input-group-addon input-xs"><span class="lt-icon lt-search lt-large lt-color-muted"></span></span>

                  {% include components.elements.forms.input with {
                    id: 'autocomplete-contact-list',
                    classes: 'input-sm has-addon-after',
                    type: 'search',
                    required: null,
                    haslabelErrorIcon: true,
                    hasInlineErrorIcon: null,
                    hasAbsoluteErrorIcon: null,
                    theValue: null,
                    placeholder: 'Search my team...'
                  } %}
                  <span class="lt-icon lt-close lt-medium form-control-feedback"></span>

                  <span class="input-group-addon addon-after input-xs">
                    <div class="input-group-btn">
                      <span class="btn btn-sm btn-link link-muted link-no-underline dropdown-toggle" data-toggle="dropdown">
                        <span class="h7 ">By name</span> <span class="caret"></span>
                      </span>
                      <ul class="dropdown-menu pull-right">
                        <li><a href="#">[Filter category]</a></li>
                        <li><a href="#">[Filter category]</a></li>
                        <li><a href="#">[Filter category]</a></li>
                      </ul>
                    </div><!-- /btn-group -->
                  </span>
                </div>

              </div><!-- /input-group -->
            </form>
            <div class="mb-4 ml-0 ml-lg-auto">

              {% if contactType == 'customer' %}
              <!-- START - CUSTOMER ONLY -->
              <a class="btn btn-primary btn-sm btn-soft mt-3 mt-sm-0">Add Contact</a>
              <a class="btn btn-default btn-sm btn-soft mt-3 mt-sm-0 mx-2">Import</a>
              <!-- END - CUSTOMER ONLY -->
              {% endif %}

              <!-- START - TEAM AND CUSTOMER -->
              <a class="btn btn-default btn-sm btn-soft mt-3 mt-sm-0">Groups</a>
              <!-- END - TEAM AND CUSTOMER -->

              {% if contactType == 'team' %}
              <!-- START - TEAM ONLY -->
              <a class="btn btn-default btn-sm btn-soft mt-3 mt-sm-0">Tree View</a>
              <!-- END - TEAM ONLY -->
              {% endif %}
            </div>
          </div>
          <!-- END - AUTOCOMPLETE -->

        </div>
      </header>
    </section>



  {% endblock %}

  <!-- START - TABLE - "{{ contactTypeLabel }}" EXAMPLE -->
  {% include '_includes/modules/contacts/contacts-list/tab-content-list-view.html.twig' with { contactType: contactType } %}
  <!-- END - TABLE - "{{ contactTypeLabel }}" EXAMPLE -->

  <!-- START - FILTER MODAL - {{ contactTypeLabel }} -->
  {% include "_includes/modules/contacts/contacts-list/contact-list-filter-modal-" ~ contactType ~ ".html.twig" %}
  <!-- END - FILTER MODAL - {{ contactTypeLabel }} -->

  <!-- START - SEND EMAIL MODAL -->
  {% include "_includes/modules/contacts/contact-detail/modals/send-email-modal.html.twig" %}
  <!-- END - SEND EMAIL MODAL -->

  <!-- START - SEND ECARD MODAL -->
  {% include "_includes/modules/contacts/contact-detail/modals/send-ecard-modal.html.twig" %}
  <!-- END - SEND ECARD MODAL -->

  <!-- START - FOLLOW-UPS ADD/EDIT MODAL -->
  {% include "_includes/modules/contacts/contact-detail/modals/follow-ups-add-edit-modal.html.twig" %}
  <!-- END - FOLLOW-UPS ADD/EDIT MODAL -->

  <!-- START - FOLLOW-UPS DETAILS MODAL -->
  {% include "_includes/modules/contacts/contact-detail/modals/follow-ups-details-modal.html.twig" %}
  <!-- END - FOLLOW-UPS DETAILS MODAL -->

  <!-- START - NOTES ADD/EDIT MODAL -->
  {% include "_includes/modules/contacts/contact-detail/modals/notes-add-edit-modal.html.twig" %}
  <!-- END - NOTES ADD/EDIT MODAL -->

  <!-- START - GROUPS ADD NEW MODAL -->
  {% include "_includes/modules/contacts/contact-detail/modals/groups-add-new-edit-modal.html.twig" %}
  <!-- END - GROUPS ADD NEW MODAL -->

  <!-- START - GROUPS ADD TO MODAL -->
  {% include "_includes/modules/contacts/contact-detail/modals/groups-add-to-modal.html.twig" %}
  <!-- END - GROUPS ADD TO MODAL -->

  <!-- START - DELETE MODAL (SAME TEMPLATE FOR ALL) -->
  {% include "_includes/modules/modals/modal-either-or-error.html.twig" %}
  <!-- END - DELETE MODAL (SAME TEMPLATE FOR ALL) -->

  <!-- START - LEARN MORE MODAL -->
  {% include "_includes/modules/contacts/contact-detail/modals/learn-more-modal.html.twig" %}
  <!-- END - LEARN MORE MODAL -->



{% endblock %}
