<li class="predictive-list__item border-bottom p-4">
  <a href="{{ itemUrl }}">
    <div class="row">
      <div class="col col-xs-3">
        <!-- <img src="./images/fpo/agnew-ultimate.png" class="product-img img-responsive"> -->
        <img src="{{ imgUrl }}" class="product-img img-responsive">
      </div>
      <div class="col col-xs-9">
        <!-- <p class="title">Anew Ultimate Supreme Advanced Performance Créme</p> -->
        <p class="title">{{ itemTitle }}</p>
        <p>
          <!-- <span class="sale-price">$30.00</span> -->
          <span class="sale-price">{{ itemPrice }}</span>
          <!-- <span class="reg-price small">Regular Price: $36.00</span> -->
          <span class="reg-price small">Regular Price: {{ regPrice }}</span>
        </p>
        <p>
          <span class="rating small">
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            <!-- <span class="num-ratings">73</span> -->
            <span class="num-ratings">{{ numRatings }}</span>
          </span>
          <!-- <span class="stock small"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> In Stock</span> -->
          <span class="stock small"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> {{ stockStatus }}</span>
        </p>
      </div>
    </div>
  </a>
</li>
