<h1 id="your-order" class="bs-headline">Your Order</h1>
  <p id="your-order-diagram" style="margin-top: 60px;"><img src="/images/fpo/product-review-diagramed.png" class="img-responsive"></p>

  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# BASE #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {% set styleguideItem = {
    title:        "Page Structure",
    slug:         "your-order-structure",
    description:  'Layouts used: 
    <ul>
      <li><a href=layouts.html#columns-12>12 columns (full width)</a></li>
      <li><a href=layouts.html#columns-9>9 columns</a></li>
      <li><a href=layouts.html#super-panel">9x3 columns</a></li>
    </ul>',
    snippet:      '
    <body>
      <section id="avon-poc">

        <!-- Header -->
        <section class="container">
          <div class="row">
            <div class="col-xs-12">
              <header>Drawer header</header>
            </main>
          </div>
        </section>



        <!-- Tab Nav - Layout: 9 columns wide -->
        <section class="container">
          <div class="row">
            <main class="col-md-9">
              Tab Nav
            </main>
          </div>
        </section>

        <!-- Content - Layout: 9x3 columns -->
        <section class="reverse-bg">
          <div class="container">
            <div class="row">
              <main class="col-md-9" role="main">
                Tab Content
              </main>
              <aside class="col-md-3" role="complementary">
                Aside content
              </aside>
            </div>
          </div>
        </section> 

        <!-- Footer -->
        (No footer)

      </section>
    </body>' 
  }%}
  {% include styleguide.item with 'styleguideItem': styleguideItem %}




  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# CHECKOUT / REVIEW / ORDER / PERSON #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {% set styleguideItem = {
    title:        "Header",
    slug:         "your-order-header"
  }%}
  <h2 id="{{ styleguideItem.slug }}" class="bs-headline">{{ styleguideItem.title }}</h2>
  {{ styleguideItem.description }}
  <div class="bs-example">
    {% include '_includes/modules/global/drawer-header.html.twig' with { drawerLabel: 'Your Order', drawerId: 'drawer-order-summary'} %}
  </div>

  {# Markup #}
  {{ highlightMarkup }}
    {% include '_includes/modules/global/drawer-header.html.twig' with { drawerLabel: 'Your Order', drawerId: 'drawer-order-summary' } %}
  {{ endhighlight }}

  {# Twig include #}
  {{ highlightTwig }}
      {{ '{% include ' }} '_includes/modules/global/drawer-header.html.twig' with { drawerLabel: 'Your Order', drawerId: 'drawer-order-summary' }{{ ' %}' }}
  {{ endhighlight }} 


 


  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# CHECKOUT / REVIEW / ORDER / NAV TAB #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {% set styleguideItem = {
    title:        "Tab Navigation",
    slug:         "your-order-tabs",
    twig:         "_includes/modules/your-order/tab-nav.html.twig",
    path:         "_includes/modules/your-order/tab-nav.html.twig"
  }%}
  {% include styleguide.item with 'styleguideItem': styleguideItem %}


  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# CHECKOUT / REVIEW / ORDER / PERSON ORDER (LIST CONTAINER) #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {% set styleguideItem = {
    title:        "Tab Content Structure",
    slug:         "your-order-tab-content-structure"
  }%}
  <h2 id="{{ styleguideItem.slug }}" class="bs-headline">{{ styleguideItem.title }}</h2>
  {{ styleguideItem.description }}

  <p>Tab content containing the tab panes below</p>

  {{ highlightMarkup }}
  <!-- START - TAB CONTENT -->
  <section class="tab-content">

    <!-- START - TAB PANE - PRODUCTS -->
    <section class="tab-pane active" id="pd-carts">
      <!-- Content -->
    </section>
    <!-- END - TAB PANE - PRODUCT -->

    <!-- START - TAB PANE - INCENTIVES -->
    <section class="tab-pane" id="pd-offers">
      <!-- Content -->
    </section>
    <!-- END - TAB PANE - INCENTIVES -->

  </section>
  <!-- END - TAB CONTENT -->
  {{ endhighlight }}




  


 







  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# CHECKOUT / REVIEW / ORDER / TAB PANE / PRODUCTS #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {% set styleguideItem = {
    title:        "Person's Order (List of summaries and product lists) ",
    slug:         "your-order-tab-pane-products",
    twig:         "styleguide/_includes/modules/pages/your-order/tab-panel-carts.html.twig",
    path:         "styleguide/_includes/modules/pages/your-order/tab-panel-carts.html.twig" 
  }%}
  {% include styleguide.item with 'styleguideItem': styleguideItem %}



  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# CHECKOUT / REVIEW / ORDER / PERSON ORDER (LIST CONTAINER) #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {% set styleguideItem = {
    title:        "Person's Order (List Container)",
    slug:         "your-order-tab-pane-products-list-structure"
  }%}
  <h2 id="{{ styleguideItem.slug }}" class="bs-headline">{{ styleguideItem.title }}</h2>
  {{ styleguideItem.description }}

  <p>List containing the list items below</p>

  {{ highlightMarkup }}
  <!-- START - LIST OF PERSONS -->
  <ul class="list-group">
    
    <!-- List items -->

  </ul>
  <!-- END - LIST OF PERSONS -->
  {{ endhighlight }}






  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# CHECKOUT / REVIEW / ORDER / PERSON #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {% set styleguideItem = {
    title:        "Person's Order (List Item)",
    slug:         "your-order-tab-pane-products-person"
  }%}
  <h2 id="{{ styleguideItem.slug }}" class="bs-headline">{{ styleguideItem.title }}</h2>
  {{ styleguideItem.description }}
  <div class="bs-example">
    {% include 'styleguide/_includes/modules/pages/your-order/persons-order.html.twig' with {indexNum: 'x-1', personName: '[Person&rsquo;s Name]', itemCount: '[0]', total: '[00.00]', collapsed: false} %}
  </div>

  {# Markup #}
  {{ highlightMarkup }}
    {% include 'styleguide/_includes/modules/pages/your-order/persons-order.html.twig' with {indexNum: 'x-2', personName: '[Person&rsquo;s Name]', itemCount: '[0]', total: '[00.00]', collapsed: false} %}
  {{ endhighlight }}

  {# Twig include #}
  {{ highlightTwig }}
      {{ '{% include ' }} 'styleguide/_includes/modules/pages/your-order/persons-order.html.twig' with {indexNum: 'x-2', personName: '[Person&rsquo;s Name]', itemCount: '[0]', total: '[00.00]', collapsed: false}{{ ' %}' }}
      {{ 'styleguide/_includes/modules/pages/your-order/persons-order.html.twig' }}
  {{ endhighlight }}  


  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# CHECKOUT / REVIEW / ORDER / PERSON (TABLE) #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {% set styleguideItem = {
    title:        "Products (Table)",
    slug:         "your-order-tab-pane-products-person-table-structure"
  }%}
  <h2 id="{{ styleguideItem.slug }}" class="bs-headline">{{ styleguideItem.title }}</h2>
  <p>Table containing the rows below</p>

  {{ highlightMarkup }}
  <!-- TABLE OF PRODUCTS -->
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th class="d-none t-item hidden-xs hidden-sm">Item</th>
          <th class="d-none t-desc">Description</th>
          <th class="d-none t-price">Price</th>
          <th class="d-none t-qty text-right">Qty</th>
        </tr>
      </thead>
      <tbody>

        <!-- Table rows -->

      </tbody>
    </table>
  </div>
  {{ endhighlight }}






  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# CHECKOUT / REVIEW / ORDER / PERSON / SINGLE PRODUCT #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {% set styleguideItem = {
    title:        "Single Product (Table Row)",
    slug:         "your-order-tab-pane-products-product",
    description:  "This is <code>tr</code> gets looped to show products in a person's order."
  }%}
  <h2 id="{{ styleguideItem.slug }}" class="bs-headline">{{ styleguideItem.title }}</h2>
  

  <div class="bs-callout bs-callout-info">
    {{ styleguideItem.description }}
  </div>

  <div class="bs-callout bs-callout-warning">
    The formatting looks strange here because the <code>tr</code> is not within a <code>table</code>. 
  </div>


  
  <div class="bs-example">
    {% include '_includes/groups/your-order/single-product-tr.html.twig' with {
      productName: '[Product Name]', 
      img: '/images/fpo/product-thumb-grey.png',
      autoReplenish: true,
      sku: '[000-000]',
      price: '$[00.00]',
      classes: 'input-sm'
    }%}
  </div>
  

  {# Twig include #}
  <h3>Variables being passed to template</h3>
  {{ highlightTwig}}
      {{ '{% include ' }} '{{ '_includes/groups/your-order/single-product-tr.html.twig' }}' with {
      productName: '[Product Name]', 
      img: '/images/fpo/product-thumb-grey.png',
      autoReplenish: true,
      sku: '[000-000]',
      price: '$[00.00]',
      classes: 'input-sm'
    }{{ ' %}' }}
    
  {{ endhighlight }} 

  <h3>Template</h3>
  {{ highlightTwig}}
    {{ '{%' }} if autoReplenish != null {{ '%}' }}
      {{ '{%' }} set eachShipment = '<br> <small class="text-muted">Each shipment</small>' {{ '%}' }}
    {{ '{%' }} endif {{ '%}' }}
    <tr>
      <td class="t-item hidden-xs hidden-sm">
         <img src="{{ '{{' }} img {{ '}}' }}" class="img-responsive" alt="">
      </td>
      <td class="t-desc">
        <div>
          {{ '{{' }} productName {{ '}}' }}
          <small class="text-muted ml-2">{{ '{{' }} sku {{ '}}' }}</small>
        </div>
        {{ '{%' }} if autoReplenish != null {{ '%}' }}
          <div>
            <span class="label label-default label-sm">Auto-replenish</span>
            <span class="hidden-xs hidden-sm">{{ '{%' }} include components.elements.forms.select with { groupClasses: 'd-inline-block', 'items': [{'label': 'Every 4 weeks'}, {'label': 'Every 3 weeks'}, {'label': 'Every 2 weeks'}, {'label': 'Every 1 weeks'}] } {{ '%}' }}</span>
          </div>
        {{ '{%' }} endif {{ '%}' }}
      </td>
      <td class="t-price">
         {{ '{{' }} price {{ '}}' }}
         <span class="hidden-xs hidden-sm">{{ '{{' }} eachShipment {{ '}}' }}</span>
      </td>
      <td class="t-qty text-right">
        <span class="hidden-xs">{{ '{%' }} include components.elements.forms.select {{ '%}' }}</span>
        <small class="visible-xs">1 unit</small>
        <div class="mt-4 hidden-xs hidden-sm"><a href="#">Remove</a></div>
      </td>
    </tr>
  {{ endhighlight }} 

  <h3>Rendered HTML</h3>
  {{ highlightMarkup }}
    {% include '_includes/groups/your-order/single-product-tr.html.twig' with {
      productName: '[Product Name]', 
      img: '/images/fpo/product-thumb-grey.png',
      autoReplenish: true,
      sku: '[000-000]',
      price: '$[00.00]',
      classes: 'input-sm'
    }%}
  {{ endhighlight }}



    {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# CHECKOUT / REVIEW / ORDER / TAB PANE / INCENTIVES #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {% set styleguideItem = {
    title:        "Tab Pane - Incentives ",
    slug:         "your-order-tab-pane-incentives",
    twig:         "components.modules.yourOrder.tabPane.incentives",
    path:         components.modules.yourOrder.tabPane.incentives 
  }%}
  {% include styleguide.item with 'styleguideItem': styleguideItem %}




  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# CHECKOUT / REVIEW / ORDER / TOTAL #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {% set styleguideItem = {
    title:        "Order Total",
    slug:         "your-order-total",
    twig:         "components.modules.yourOrder.total",
    path:         components.modules.yourOrder.total
  }%}
  {% include styleguide.item with 'styleguideItem': styleguideItem %}

