<!-- START - PERSON'S ORDER (LIST ITEM) -->
<li class="list-group-item my-4">

  <!-- SUMMARY -->
  <dl class="clearfix m-0">
    <dt class="pull-left">
      <a href="#collapse-{{ indexNum }}" data-toggle="collapse" {% if collapsed != false %} class="collapsed" {% endif %}>
        <span class="lt-icon lt-triangle-down collapse-indicator"></span> 
        <b>{{ personName }}</b>
      </a>
    </dt>
    <dd class="pull-right"><b>${{ total }}</b></dd>
  </dl>

  <dl class="clearfix m-0">
    <dt class="pull-left">{{ itemCount }} items</dt>
    <dd class="pull-right">Discount: $[00.00]</dd>
  </dl>

  <!-- DETAILS (COLLAPSBLE) -->
  <div class="details collapse {% if collapsed == false %} in {% endif %}" id="collapse-{{ indexNum }}">

    <!-- START - TABLE OF PRODUCTS -->
    <div class="table-responsiveX">
      <table class="table">
        <thead>
          <tr>
            <th class="d-none t-item hidden-xs hidden-sm">Item</th>
            <th class="d-none t-desc">Description</th>
            <th class="d-none t-price">Price</th>
            <th class="d-none t-qty text-right">Qty</th>
          </tr>
        </thead>
        <tbody>

          <!-- START - LOOP THOUGH TABLE ROWS -->
          {% include 'styleguide/_includes/modules/pages/your-order/persons-order-tr.html.twig' with {
            productName: '[Product Name]',
            img: '/images/fpo/product-thumb-grey.png',
            autoReplenish: true,
            sku: '[000-000]',
            price: '$[00.00]',
            classes: 'input-sm'
          }%}

          {% include 'styleguide/_includes/modules/pages/your-order/persons-order-tr.html.twig' with {
            productName: '[Product Name]',
            img: '/images/fpo/product-thumb-grey.png',
            autoReplenish: null,
            sku: '[000-000]',
            price: '$[00.00]',
            classes: 'input-sm'
          }%}
          <!-- END - LOOP THOUGH TABLE ROWS -->

        </tbody>
      </table>
    </div>
    <!-- END - TABLE OF PRODUCTS -->

  </div>
</li>
<!-- END - PERSON'S ORDER (LIST ITEM) -->
