<li class="list-group-item">

  <!-- SUMMARY -->
  <dl class="summary row mb-0">
    <dt class="col-sm-6"><a href="#collapse-{{ indexNum }}" data-toggle="collapse"><span class="glyphicon glyphicon-play"></span>  Person {{ indexNum }} ({{ itemCount }} items)</a></dt>
    <dd class="col-sm-4">
      {% include components.groups.forms.checkboxAndLabel with {theValue: 'checkbox1', checked: true, label: "Ship direct to rep"} %}
    </dd>
    <dd class="col-sm-1"><b>${{ total }}.00</b></dd>
  </dl>

  <!-- DETAILS -->
  <div class="details collapse" id="collapse-{{ indexNum }}">
    <div class="row">
      <div class="col-sm-6">
        {% include components.groups.checkout.productSummary %}
        {% include components.groups.checkout.productSummary %}
        {% include components.groups.checkout.productSummary %}
        {% include components.groups.checkout.productSummary %}
        {% include components.groups.checkout.productSummary %}
      </div>
      <div class="col-sm-6">
        <!-- SELECT AND LABEL -->
        <div class="form-group">
          {% include components.groups.forms.selectAndLabel with {'mainLabel': 'Ship To', 'id': 'exampleSelect1-' ~ indexNum, items: [{'label': 'GroupShip: Person 1 - 2134 W Fletcher St., Chicago'}, {'label': 'Ship to - option 2'}, {'label': 'Ship to - option 3'}]} %}
        </div>
        <!-- SELECT AND LABEL -->
        <div class="form-group">
          {% include components.groups.forms.selectAndLabel with {'mainLabel': 'Shipping Method', 'id': 'exampleSelect2-' ~ indexNum, items: [{'label': 'Direct to Rep'}, {'label': 'Shipping Method 2'}, {'label': 'Shipping Method 3'}]} %}
        </div>
        <!-- SELECT AND LABEL -->
        <div class="form-group">
          {% include components.groups.forms.selectAndLabel with {'mainLabel': 'Pay With', 'id': 'exampleSelect3-' ~ indexNum, items: [{'label': 'Person&rsquo;s card ending in 8888'}, {'label': 'Pay Method 2'}, {'label': 'Pay Method 3'}]} %}
        </div>
      </div>
    </div><!-- /.row -->
  </div>
</li>