{# styleguide/index.html.twig #}
{% set title = "Styleguide Modules" %}
{% set slug = "styleguide-modules" %}
{% extends "styleguide/_layouts/styleguide-main.html.twig" %}


{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - STYLEGUIDE CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block styleguideContent %}

  <h1 id="product-detail" class="bs-headline">Product Detail</h1>

  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# BASE #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {% set styleguideItem = {
    title:        "Page Structure",
    slug:         "product-detail-page-structure",
    description:  'Layouts used: <a href=layouts.html#columns-9>9 columns wide</a> and <a href=layouts.html#super-panel">9x3 columns inside super panel</a>',
    snippet:      '
    <body>
      <section id="avon-poc">

        <!-- Header -->
        <header>Checkout header</header>

        <!-- Tab Nav - Layout: 9 columns wide -->
        <div class="container">
          <div class="row">
            <main class="col-md-9">
              Tab Nav
            </main>
          </div>
        </div>

        <!-- Content - Layout: 9x3 columns -->
        <!-- Note: "super-panel" = full bleed grey backgournd -->
        <div class="super-panel">
          <div class="container">
            <div class="row">
              <main class="col-md-9" role="main">
                Tab Content
              </main>
              <aside class="col-md-3" role="complementary">
                Aside content
              </aside>
            </div>
          </div>
        </div> 

        <!-- Footer -->
        (No footer)

      </section>
    </body>' 
  }%}
  {% include styleguide.item with 'styleguideItem': styleguideItem %}

  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# CHECKOUT HEADER #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {% set styleguideItem = {
    title:        "Checkout Header",
    slug:         "product-detail-checkout-header",
    path:         components.modules.checkout.header
  }%}
  {% include styleguide.item with 'styleguideItem': styleguideItem %}


  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# CHECKOUT / REVIEW / ORDER / NAV TAB #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {% set styleguideItem = {
    title:        "Nav Tab",
    slug:         "product-detail-checkout-review-order-navTab",
    path:         components.modules.checkout.review.order.navTab 
  }%}
  {% include styleguide.item with 'styleguideItem': styleguideItem %}


  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# CHECKOUT / REVIEW / ORDER / TAB CONTENT #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {% set styleguideItem = {
    title:        "Tab Content",
    slug:         "product-detail-checkout-review-order-tabContent",
    path:         components.modules.checkout.review.order.tabContent 
  }%}
  {% include styleguide.item with 'styleguideItem': styleguideItem %}


  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# CHECKOUT / REVIEW / ORDER / PERSON #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {% set styleguideItem = {
    title:        "Person's Order",
    slug:         "product-detail-checkout-review-order-persons"
  }%}
  <h2 id="{{ styleguideItem.slug }}" class="bs-headline">{{ styleguideItem.title }}</h2>
  {{ styleguideItem.description }}
  <div class="bs-example">
    {% include components.groups.checkout.personsOrder with {indexNum: '2', personName: fpo.person.2, itemCount: '8', total: '90.00', collapsed: false} %}
  </div>
  {{ highlightMarkup }}
    {% include components.groups.checkout.personsOrder with {indexNum: '2', personName: fpo.person.2, itemCount: '8', total: '90.00', collapsed: false} %}
  {{ endhighlight }}




  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# CHECKOUT / REVIEW / ORDER / PERSON / SINGLE PRODUCT #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {% set styleguideItem = {
    title:        "Single Product in Person's Order",
    slug:         "product-detail-checkout-review-order-persons-product"
  }%}
  <h2 id="{{ styleguideItem.slug }}" class="bs-headline">{{ styleguideItem.title }}</h2>
  {{ styleguideItem.description }}
  <div class="bs-example">
    {% include components.groups.checkout.personsOrderTr with {
      productName: 'Anew Ultimate Supreme Advanced Performance Créme', 
      img: '/images/fpo/agnew-ultimate.png',
      autoReplenish: null,
      sku: '829-957',
      price: '30.00',
      classes: 'input-sm'
    }%}
  </div>
  {{ highlightMarkup }}
    {% include components.groups.checkout.personsOrderTr with {
      productName: 'Anew Ultimate Supreme Advanced Performance Créme', 
      img: '/images/fpo/agnew-ultimate.png',
      autoReplenish: null,
      sku: '829-957',
      price: '30.00',
      classes: 'input-sm'
    }%}
  {{ endhighlight }}




  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# CHECKOUT / REVIEW / ORDER / TOTAL #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {% set styleguideItem = {
    title:        "Order Total",
    slug:         "product-detail-checkout-review-order-total",
    path:         components.modules.checkout.order.total
  }%}
  {% include styleguide.item with 'styleguideItem': styleguideItem %}






{% endblock %}


