<div class="bs-docs-section">
  

  <h1 id="boxes" class="page-header">Boxes</h1>



  <h3 id="boxes-emphasis">Emphasis Box</h3>
  <p>Adds shadow and rounded corners</p>


  <div class="bs-example">
    <div class="box-emphasize">
      <p class="m-0 p-5">{{ fpo.paragraph }}</p>
    </div>
  </div>

  {{ highlightMarkup }}
  <div class="box-emphasize">
    ...
  </div>
  {{ endhighlight }}


  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!-- PRIMARY BOX GROUP -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

  <h3 id="boxes-primary">Primary Box Group</h3>
  <p>On tablet forces boxes to stack in groups of two.</p>
  <div class="bs-callout bs-callout-info">
    Key class: <strong>.box-group--primary</strong>
  </div>

  <div class="bs-example">
   {% include "_includes/groups/boxes/primary/item-container.html.twig" with { 
      hasToolbar: null,
      items: {
        item1: {
          imgPath: 'data-src="holder.js/220x250"'
        },
        item2: {
          imgPath: 'data-src="holder.js/220x250"'
        },
        item3: {
          imgPath: 'data-src="holder.js/220x250"'
        },
        item4: {
          imgPath: 'data-src="holder.js/220x250"'
        },
        item5: {
          imgPath: 'data-src="holder.js/220x250"'
        },
        item6: {
          imgPath: 'data-src="holder.js/220x250"'
        },
        item7: {
          imgPath: 'data-src="holder.js/220x250"'
        },
        item8: {
          imgPath: 'data-src="holder.js/220x250"'
        }
      }
    } %}
  </div><!-- /.bs-example -->
  {{ highlightMarkup }}
    <div class="box-group--primary">
      <div class="item">
        <div class="box-group--item box-emphasize">
          <div class="item-content">
            ...
          </div>
        </div> <!-- /.box-group-item -->
      </div> <!-- /.item -->
    </div>
  {{ endhighlight }}

  <pre class="language-markup code-toolbar"><code class="language-twig">
     &#123;% include "_includes/groups/boxes/primary/item-container.html.twig" with { 
      hasToolbar: null,
      items: {
        item1: {
          imgPath: 'data-src="holder.js/220x250"'
        },
        item2: {
          imgPath: 'data-src="holder.js/220x250"'
        },
        item3: {
          imgPath: 'data-src="holder.js/220x250"'
        },
        item4: {
          imgPath: 'data-src="holder.js/220x250"'
        },
        item5: {
          imgPath: 'data-src="holder.js/220x250"'
        },
        item6: {
          imgPath: 'data-src="holder.js/220x250"'
        },
        item7: {
          imgPath: 'data-src="holder.js/220x250"'
        },
        item8: {
          imgPath: 'data-src="holder.js/220x250"'
        }
      }
    } %}
  </code></pre>


  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!-- PRIMARY BOX GROUP WITH CAROUSEL -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

  <h3 id="boxes-primary-carousel">Primary Box Group with Carousel</h3>
  <p>Builds on Primary Box Group by putting it inside a carousel.</p>
  <div class="bs-callout bs-callout-info">
    Key class: <strong>.box-group--primary-with-carousel</strong>
  </div>



  <div class="bs-example">
   {% include "_includes/groups/boxes/primary/carousel-container.html.twig" with { 
    carouselId: 'carousel-demo-1', 
    hasToolbar: null,
    items: {
     item1: {
        imgPath: 'data-src="holder.js/220x250"'
      },
      item2: {
        imgPath: 'data-src="holder.js/220x250"'
      },
      item3: {
        imgPath: 'data-src="holder.js/220x250"'
      },
      item4: {
        imgPath: 'data-src="holder.js/220x250"'
      }
    }
  } %}
  </div><!-- /.bs-example -->
  {{ highlightMarkup }}
    <div id="carousel-demo-1" class="carousel slide box-group--primary-with-carousel" data-ride="carousel" data-interval="false">
      <ol class="carousel-indicators">
        ...
      </ol>
      <div class="carousel-inner box-group--primary">
        <div class="item">
          <div class="box-group--item box-emphasize">
            <div class="item-content">
              ...
            </div>
          </div><!-- /.box-group-item -->
        </div><!-- /.item -->
      </div>
      <a class="left carousel-control" href="#carousel-demo-1" data-slide="prev">
        <span class="lt-icon lt-left lt-large"></span>
      </a>
      <a class="right carousel-control" href="#carousel-demo-1" data-slide="next">
        <span class="lt-icon lt-right lt-large"></span>
      </a>
    </div>
  {{ endhighlight }}
  <pre class="language-markup code-toolbar"><code class="language-twig">
     &#123;% include "_includes/groups/boxes/primary/carousel-container.html.twig" with { 
    carouselId: 'carousel-demo-1', 
    hasToolbar: null,
    items: {
     item1: {
        imgPath: 'data-src="holder.js/220x250"'
      },
      item2: {
        imgPath: 'data-src="holder.js/220x250"'
      },
      item3: {
        imgPath: 'data-src="holder.js/220x250"'
      },
      item4: {
        imgPath: 'data-src="holder.js/220x250"'
      }
    }
  } %}
  </code></pre>


  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!-- PRIMARY BOX GROUP WITH CAROUSEL - HIDE CAROUSEL ON TABLET AND ABOVE-->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

  <h3 id="boxes-primary-carousel-alt">Primary Box Group with Carousel - Alt</h3>
  <p>This hides the carousel on tablet and above.</p>
  <div class="bs-callout bs-callout-info">
    Key class: Add <strong>.carousel--hide-on-tablet-and-above</strong> to <strong>box-group--primary-with-carousel</strong>
  </div>


  <div class="bs-example">
   {% include "_includes/groups/boxes/primary/carousel-container.html.twig" with { 
    carouselId: 'carousel-demo-2', 
    itemContainerType: 'carouselBoxesCombo',
    items: {
     item1: {
        imgPath: 'data-src="holder.js/220x250"'
      },
      item2: {
        imgPath: 'data-src="holder.js/220x250"'
      },
      item3: {
        imgPath: 'data-src="holder.js/220x250"'
      },
      item4: {
        imgPath: 'data-src="holder.js/220x250"'
      }
    }
  } %}
  </div><!-- /.bs-example -->
  {{ highlightMarkup }}
    <div id="carousel-demo-2" class="carousel slide box-group--primary-with-carousel carousel--hide-on-tablet-and-above" data-ride="carousel" data-interval="false">
      <ol class="carousel-indicators">
        ...
      </ol>
      <div class="carousel-inner box-group--primary">
        <div class="item">
          <div class="box-group--item box-emphasize">
            <div class="item-content">
              ...
            </div>
          </div><!-- /.box-group-item -->
        </div><!-- /.item -->
      </div>
      <a class="left carousel-control" href="#carousel-demo-2" data-slide="prev">
        <span class="lt-icon lt-left lt-large"></span>
      </a>
      <a class="right carousel-control" href="#carousel-demo-2" data-slide="next">
        <span class="lt-icon lt-right lt-large"></span>
      </a>
    </div>
  {{ endhighlight }}
  <pre class="language-markup code-toolbar"><code class="language-twig">
     &#123;% include "_includes/groups/boxes/primary/carousel-container.html.twig" with { 
    carouselId: 'carousel-demo-2', 
    itemContainerType: 'carouselBoxesCombo',
    items: {
     item1: {
        imgPath: 'data-src="holder.js/220x250"'
      },
      item2: {
        imgPath: 'data-src="holder.js/220x250"'
      },
      item3: {
        imgPath: 'data-src="holder.js/220x250"'
      },
      item4: {
        imgPath: 'data-src="holder.js/220x250"'
      }
    }
  } %}
  </code></pre>





  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!-- SINGLE BOX GROUP -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

  <h3 id="boxes-single">Single Box Group</h3>
  <p>TODO: description</p>

  <div class="bs-example">
    TODO: Example
  </div><!-- /.bs-example -->

  {{ highlightMarkup }}
    TODO: Markup
  {{ endhighlight }}



  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!-- SECONDARY BOX GROUP -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

  <h3 id="boxes-secondary">Single Box Group</h3>
  <p>TODO: description</p>
  
  <div class="bs-example">
    TODO: Example
  </div><!-- /.bs-example -->

  {{ highlightMarkup }}
    TODO: Markup
  {{ endhighlight }}
 


</div>




