{% if alertId %}
  {% set alertId = ' id="' ~ alertId ~ '"' %}
{% endif %}

{% if alertClasses is not defined %}
  {% set alertClasses = '' %}
{% endif %}

{% if alertMsg is not defined %}
  {% set alertMsg = 'This is a default alert message, you should change me!' %}
{% endif %}

{% if alertLevel == 'page' %}
  {% set alertLevelClass = 'alert-level-page' %}
{% else %}
  {% set alertLevelClass = 'alert-level-section' %}
{% endif %}

<section class="alert {{ alertLevelClass }} {{ alertClasses }}"{{ alertId }}>
  <div class="alert-msg-header">{{ alertMsg }}</div>
  {% if alertMsgBody %}
    <div class="alert-msg-body">{{ alertMsgBody }}</div>
  {% endif %}
</section>

