{% if alertId is not defined %}
  {% set alertId = '' %}
{% endif %}

{% if alertClasses is not defined %}
  {% set alertClasses = '' %}
{% endif %}

{% if alertIcon is not defined %}
  {% set alertIcon = 'lt-checkmark' %}
{% endif %}

{% if alertMsg is not defined %}
  {% set alertMsg = 'This is a default alert message, you should change me!' %}
{% endif %}

{% if alertBtnText is not defined %}
  {% set alertBtnText = false %}
{% endif %}

<!-- NOTE :: add 'collapsed' class to global-alert-msg for animated collapse -->
<section id="{{ alertId }}" class="global-alert-msg alert container-fluid mb-0 {{ alertClasses }}">
  <div class="container text-center">
    <div class="row">
      <!-- <span class="alert-msg-icon lt-icon lt-checkmark"></span> -->
      <span class="alert-msg-icon lt-icon lt-medium {{ alertIcon }}"></span>
      <span class="alert-msg-txt mr-0 mr-sm-4 ml-0 ml-sm-2">{{ alertMsg }}</span>
      {% if alertBtnText %}
        <button type="button" class="alert-msg-btn btn btn-transparent-light btn-sm mt-4 mt-sm-0">{{ alertBtnText }}</button>
      {% endif %}
    </div>
  </div>
</section>
