{% extends layouts.base %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block content %}

  <div class="container container--page">

    {% embed "_layouts/content-center-max-width.html.twig" %}

      {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
      {# DEFINE BLOCK - MAIN #}
      {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
      {% block main %}
        
        <!--START: AVON BUZZ LOGO-->
        <div class="py-4">
          <h2 class="text-uppercase text-center">Beauty Buzz</h2>
        </div>
        <!--END: AVON BUZZ LOGO-->

        <section class="pt-4">
          <!-- START: NAV TABS -->
          <ul class="nav nav-tabs">
            <li class="active"><a href="#buzz-1" data-toggle="tab">MAR 19-25</a></li>
            <li><a href="#buzz-2" data-toggle="tab">MAR 12-18</a></li>
            <li><a href="#buzz-3" data-toggle="tab">MAR 5-11</a></li>
            <li><a href="#buzz-4" data-toggle="tab">FEB 26-MAR 4</a></li>
          </ul>
          <!-- END: NAV TABS -->

          <!-- START: TAB PANES -->
          <div class="tab-content">
            <div class="tab-pane active" id="buzz-1">

              <!-- START: PANEL -->
              <div class="panel panel-default">
                <div class="panel-body">
                  <h4 class="text-center"> {{ fpo.sentence }} {{ fpo.sentence }}</h4>
                  <p class="text-center text-muted">September 25, 2018</p>
                  <img class="img-responsive" src="images/utility/placeholder-panoramic.png" alt="">
                  <div class="py-4">
                    {{ fpo.paragraph }}
                  </div>
                </div>
              </div>
             <!-- END: PANEL -->

              <hr>
              
              <!-- START: PANEL -->
              <div class="panel panel-default">
                <div class="panel-body">
                  <h4 class="text-center"> {{ fpo.sentence }} {{ fpo.sentence }}</h4>
                  <p class="text-center text-muted">September 25, 2018</p>
                  <img class="img-responsive" src="images/utility/placeholder-panoramic.png" alt="">
                  <div class="py-4">
                    {{ fpo.paragraph }}
                  </div>
                </div>
              </div>
              <!-- END: PANEL -->

              <hr>
              
              <!-- START: PANEL -->
              <div class="panel panel-default m-0">
                <div class="panel-body">
                  <h4 class="text-center"> {{ fpo.sentence }} {{ fpo.sentence }}</h4>
                  <p class="text-center text-muted">September 25, 2018</p>
                  <img class="img-responsive" src="images/utility/placeholder-panoramic.png" alt="">
                  <div class="py-4">
                    {{ fpo.paragraph }}
                  </div>
                </div>
              </div>
              <!-- END: PANEL -->

            </div>
            <div class="tab-pane" id="buzz-2">

              <!-- START: PANEL -->
               <div class="panel panel-default">
                <div class="panel-body">
                  <h4 class="text-center"> {{ fpo.sentence }} {{ fpo.sentence }}</h4>
                  <p class="text-center text-muted">September 25, 2018</p>
                  <img class="img-responsive" src="images/utility/placeholder-panoramic.png" alt="">
                  <div class="py-4">
                    {{ fpo.paragraph }}
                  </div>
                </div>
              </div>
              <!-- END: PANEL -->

              <hr>
              
              <!-- START: PANEL -->
              <div class="panel panel-default">
                <div class="panel-body">
                  <h4 class="text-center"> {{ fpo.sentence }} {{ fpo.sentence }}</h4>
                  <p class="text-center text-muted">September 25, 2018</p>
                  <img class="img-responsive" src="images/utility/placeholder-panoramic.png" alt="">
                  <div class="py-4">
                    {{ fpo.paragraph }}
                  </div>
                </div>
              </div>
              <!-- END: PANEL -->

              <hr>
              
              <!-- START: PANEL -->
              <div class="panel panel-default m-0">
                <div class="panel-body">
                  <h4 class="text-center"> {{ fpo.sentence }} {{ fpo.sentence }}</h4>
                  <p class="text-center text-muted">September 25, 2018</p>
                  <img class="img-responsive" src="images/utility/placeholder-panoramic.png" alt="">
                  <div class="py-4">
                    {{ fpo.paragraph }}
                  </div>
                </div>
              </div>
              <!-- END: PANEL -->

            </div>
            <div class="tab-pane" id="buzz-3">

              <!-- START: PANEL -->
               <div class="panel panel-default">
                <div class="panel-body">
                  <h4 class="text-center"> {{ fpo.sentence }} {{ fpo.sentence }}</h4>
                  <p class="text-center text-muted">September 25, 2018</p>
                  <img class="img-responsive" src="images/utility/placeholder-panoramic.png" alt="">
                  <div class="py-4">
                    {{ fpo.paragraph }}
                  </div>
                </div>
              </div>
              <!-- END: PANEL -->

              <hr>

              <!-- START: PANEL -->
              <div class="panel panel-default">
                <div class="panel-body">
                  <h4 class="text-center"> {{ fpo.sentence }} {{ fpo.sentence }}</h4>
                  <p class="text-center text-muted">September 25, 2018</p>
                  <img class="img-responsive" src="images/utility/placeholder-panoramic.png" alt="">
                  <div class="py-4">
                    {{ fpo.paragraph }}
                  </div>
                </div>
              </div>
              <!-- END: PANEL -->

              <hr>
              
              <!-- START: PANEL -->
              <div class="panel panel-default m-0">
                <div class="panel-body">
                  <h4 class="text-center"> {{ fpo.sentence }} {{ fpo.sentence }}</h4>
                  <p class="text-center text-muted">September 25, 2018</p>
                  <img class="img-responsive" src="images/utility/placeholder-panoramic.png" alt="">
                  <div class="py-4">
                    {{ fpo.paragraph }}
                  </div>
                </div>
              </div>
              <!-- END: PANEL -->

            </div>
            <div class="tab-pane" id="buzz-4">

              <!-- START: PANEL -->
               <div class="panel panel-default">
                <div class="panel-body">
                  <h4 class="text-center"> {{ fpo.sentence }} {{ fpo.sentence }}</h4>
                  <p class="text-center text-muted">September 25, 2018</p>
                  <img class="img-responsive" src="images/utility/placeholder-panoramic.png" alt="">
                  <div class="py-4">
                    {{ fpo.paragraph }}
                  </div>
                </div>
              </div>
              <!-- END: PANEL -->

              <hr>
              
              <!-- START: PANEL -->
              <div class="panel panel-default">
                <div class="panel-body">
                  <h4 class="text-center"> {{ fpo.sentence }} {{ fpo.sentence }}</h4>
                  <p class="text-center text-muted">September 25, 2018</p>
                  <img class="img-responsive" src="images/utility/placeholder-panoramic.png" alt="">
                  <div class="py-4">
                    {{ fpo.paragraph }}
                  </div>
                </div>
              </div>
              <!-- END: PANEL -->

              <hr>
              
              <!-- START: PANEL -->
              <div class="panel panel-default m-0">
                <div class="panel-body">
                  <h4 class="text-center"> {{ fpo.sentence }} {{ fpo.sentence }}</h4>
                  <p class="text-center text-muted">September 25, 2018</p>
                  <img class="img-responsive" src="images/utility/placeholder-panoramic.png" alt="">
                  <div class="py-4">
                    {{ fpo.paragraph }}
                  </div>
                </div>
              </div>
              <!-- END: PANEL -->

            </div>
          </div>
          <!-- END: TAB PANES -->

        </section>

      {% endblock %}

    {% endembed %}

  </div>

{% endblock %}
