{# index.twig #}
{% extends "_layouts/base.html.twig" %}

{% block header %}{% endblock %}
{% block footer %}{% endblock %}

{% block content %}

<div class="container">
  <header>
    <h1>Avon POC</h1>
  </header>
  <main>
    <h3>Styleguide</h3>
    <ul>
      <li><a href="styleguide/">Home</a></li>
      <li><a href="styleguide/css.html">CSS</a></li>
      <li><a href="styleguide/elements.html">Elements</a></li>
      <li><a href="styleguide/groups.html">Groups</a></li>
      <li><a href="styleguide/modules.html">Modules</a></li>
    </ul>

    <h3>Pages</h3>
    <ul>
      <li><a href="{{ pages.search.results }}">Search Results</a></li>
      <li><a href="{{ pages.product.landing }}">Product Landing Page</a></li>
      <li><a href="{{ pages.product.detail }}">Product Detail Page (PDP)</a></li>
      <li><a href="{{ pages.yourOrder }}">Your Order (Drawer)</a></li>
      <li><a href="{{ pages.brochures.landing }}">Virtual Brochures</a></li>
    </ul>

  </main>
</div>

{% endblock %}
