{# index.twig #}
{% extends "_layouts/base.html.twig" %}

{% block content %}

<div class="container">
  <header>
    <h1>Avon POC</h1>
  </header>
  <main>
    <h3>Styleguide</h3>
    <ul>
      <li><a href="styleguide/">Home</a></li>
      <li><a href="styleguide/css.html">CSS</a></li>
      <li><a href="styleguide/elements.html">Elements</a></li>
      <li><a href="styleguide/groups.html">Groups</a></li>
      <li><a href="styleguide/javascript.html">Javascript</a></li>
    </ul>

    <h3>Product Detail / Checkout</h3>
    <ul>
      <li><a href="{{ pages.product.detail }}">Product Detail</a></li>
      <li><a href="{{ pages.checkout.review.itemized }}">Checkout - Itemized</a></li>
      <li><a href="{{ pages.checkout.review.complete }}">Checkout - Review &amp; Complete</a></li>
    </ul>
    
    <h3>Product Detail / Checkout - V1</h3>
    <ul>
      <li><a href="{{ pages.v1.product.detail }}">Product Detail</a></li>
      <li><a href="{{ pages.v1.order.review }}">Review Order</a></li>
      <li><a href="{{ pages.v1.order.checkout }}">Checkout</a></li>
    </ul>

    
  </main>
</div>
    
{% endblock %}