{% extends layouts.base %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block content %}

  {% embed layouts.columns12 %}

    {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
    {# DEFINE BLOCK - MAIN #}
    {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
    {% block main %}

      <!-- START - MESSAGE -->
      <!-- <section class="alert alert-info">
        <span class="lt-icon lt-warning lt-medium"></span>
        <span class="h6 m-0">Campaign 3 is due by 11:59 PM Local Time on Wednesday 01/17/2018 21 days(s) left</span>
      </section> -->
      <!-- END - MESSAGE -->

      <!-- START - BREADCRUMBS -->
      <section class="container">
        <div class="row my-4">
          {% include "_includes/groups/navigation/breadcrumb.html.twig" with {
            'items': [{
              'slug': '#',
              'label': 'Products'
            }, {
              'slug': '#',
              'label': 'Moisturizers'
            }, {
              'slug': '#',
              'label': 'Skinvincible'
            }],
            'classes': 'm-0' }
          %}
        </div>
      </section>
      <!-- END - BREADCRUMBS -->

      <!-- START - MAIN PRODUCT DETAILS -->
      <section class="container pt-0 pt-md-5 pb-5 border-bottom">

        <!-- DEVELOPER NOTE :: this markup, starting with the .row below is shared
          between Product Detail Page and Quick Shop Modal -->
        <div class="row">

          <!-- START - PRODUCT IMAGES -->
          <div class="pdp-images-block col-sm-6 pr-md-4 pr-lg-5">
            {% include "_includes/modules/product/detail/images.html.twig" %}
          </div>
          <!-- END - PRODUCT IMAGES -->

          <!-- START - PRODUCT DETAILS -->
          <div class="pdp-details-block col-sm-6 pt-4 pt-md-0 pl-md-4 pl-lg-5 d-flex">
            {% include "_includes/modules/product/detail/details.html.twig" %}
          </div>
          <!-- END - PRODUCT DETAILS -->

        </div>
        <!-- /.row -->

      </section>
      <!-- END - MAIN PRODUCT DETAILS -->



      <!-- START - TABS SECTION -->
      <section class="container py-5">

        <!-- START - TABS NAV -->
        <ul id="pdpTabs" class="nav nav-pills">
          <li class="active">
            <a href="#pdpDescription" data-toggle="tab">
              <span class="lt-icon lt-icon lt-expand-circle lt-large"></span>
              <span class="lt-icon lt-icon lt-collapse-circle lt-large"></span>
              <span>Description</span>
            </a>
          </li>
          <li>
            <a href="#pdpIngredients" data-toggle="tab">
              <span class="lt-icon lt-icon lt-expand-circle lt-large"></span>
              <span class="lt-icon lt-icon lt-collapse-circle lt-large"></span>
              <span>Ingredients</span>
            </a>
          </li>
          <li>
            <a href="#pdpFacts" data-toggle="tab">
              <span class="lt-icon lt-icon lt-expand-circle lt-large"></span>
              <span class="lt-icon lt-icon lt-collapse-circle lt-large"></span>
              <span>Supplement Facts</span>
            </a>
          </li>
        </ul>
        <!-- END - TABS NAV -->

        <!-- START - TAB PANES -->
        <div class="tab-content">

          <!-- START - DESCRIPTION TAB -->
          <div class="tab-pane active" id="pdpDescription">
            {% include "_includes/modules/product/detail/tab-description.html.twig" %}
          </div>
          <!-- END - DESCRIPTION TAB -->

          <!-- START - INGREDIENTS TAB -->
          <div class="tab-pane" id="pdpIngredients">
            {% include "_includes/modules/product/detail/tab-ingredients.html.twig" %}
          </div>
          <!-- END - INGREDIENTS TAB -->

          <!-- START - FACTS TAB -->
          <div class="tab-pane" id="pdpFacts">
            {% include "_includes/modules/product/detail/tab-facts.html.twig" %}
          </div>
          <!-- END - FACTS TAB -->

        </div>
        <!-- END - TAB PANES -->

      </section>
      <!-- END - TABS SECTION -->



      <!-- START - RELATED PRODUCTS -->
      <section class="reverse-bg px-0 py-5 px-md-5">

        <div class="container">

          <!-- START - HEADER -->
          <div class="clearfix mt-4 mb-5 pdp-related">
            <h3 class="text-center my-0 pdp-related-head">Related Products</h3>
            <a href="#" class="pdp-related-link">View all <span class="lt-icon lt-right lt-medium"></span></a>
          </div>
          <!-- END - HEADER -->

          {% set relatedProduct = '<div class="col-xs-6 col-sm-3">
                  <div class="thumbnail thumbnail--square">
                    <a href="#"><img src="/images/fpo/product-details/related_01.png" alt="" class="img-responsive"></a>
                  </div>
                  <div class="caption text-center p-3">
                    <p class="small">Product name lorem ipsum dolor</p>
                    <p class="large m-0">$99.99</p>
                  </div>
                </div>' %}

          <!-- START - CAROUSEL -->
          <div id="carousel-related-products" class="carousel slide pt-0 pt-md-5" data-ride="carousel" data-interval="0">

            <!-- START - CAROUSEL INNER -->
            <div class="carousel-inner">
              <div class="item active">
                <div class="row px-0 px-md-4">
                  {{ relatedProduct }}
                  {{ relatedProduct }}
                  {{ relatedProduct }}
                  {{ relatedProduct }}
                </div>
              </div>
              <div class="item">
                <div class="row px-0 px-md-4">
                  {{ relatedProduct }}
                  {{ relatedProduct }}
                  {{ relatedProduct }}
                  {{ relatedProduct }}
                </div>
              </div>
              <div class="item">
                <div class="row px-0 px-md-4">
                  {{ relatedProduct }}
                  {{ relatedProduct }}
                  {{ relatedProduct }}
                </div>
              </div>
            </div>
            <!-- END - CAROUSEL INNER -->

            <!-- START - CAROUSEL CONTROLS -->
            <a class="left carousel-control hidden-xs" href="#carousel-related-products" data-slide="prev">
              <span class="lt-icon lt-left lt-large"></span>
            </a>
            <a class="right carousel-control hidden-xs" href="#carousel-related-products" data-slide="next">
              <span class="lt-icon lt-right lt-large"></span>
            </a>
            <!-- END - CAROUSEL CONTROLS -->

          </div>
          <!-- END - CAROUSEL -->

        </div>
        <!-- /.container -->

      </section>
      <!-- END - RELATED PRODUCTS -->

    {% endblock %}

  {% endembed %}

  <!-- DRAWER -->
  {# include '_includes/modules/your-order/order-summary.html.twig' #}

  <!-- MODAL - ADD TO ORDER -->
  {% include '_includes/modules/product/detail/add-to-order.html.twig' %}

{% endblock %}
