<section class="panel panel-default">
  <div class="panel-body pr-4 pb-4  pl-4 ">
    <div class="clearfix">
      <span class="pull-left mr-4 ">
        <h4 class="m-0">SHIP TO</h4>
        {% if street == 'grand' %}
          <p>1153 W Grand Ave<br> Chicago, IL, 60642-5808</p>
        {% else %}
          <p>1042 N WINCHESTER AVE APT 3,<br> CHICAGO, IL, 60622</p>
        {% endif %}
      </span>
      <a href="#collapse-{{ person }}-{{ item }}" data-toggle="collapse" class="btn btn-default pull-right">Edit</a>
    </div>
  </div>
  <div class="collapse" id="collapse-{{ person }}-{{ item }}">
    {% include components.groups.forms.radioAndLabel with {name: 'addresses-{{ person }}-{{ item }}', theValue: 'Option1', label: "1153 W GRAND AVE,<br> CHICAGO, IL, 60642-5808", checked: 'checked'} %}
    {% include components.groups.forms.radioAndLabel with {name: 'addresses-{{ person }}-{{ item }}', theValue: 'Option2', label: "1042 N WINCHESTER AVE APT 3,<br>
CHICAGO, IL, 60622-3743 United States"} %}
    {% include components.groups.forms.radioAndLabel with {name: 'addresses-{{ person }}-{{ item }}', theValue: 'Option3', label: "Add new address"} %}
    <p class="p-4"><a href="#collapse-{{ person }}-{{ item }}" data-toggle="collapse" class="btn btn-primary">Continue</a></p>
  </div>
</section>